<div class="aa-signin-bg">
  <div class="aa-signin-container">
    <div class="aa-signin-column" id="aa-signin-hide">
      <div class="aa-signin-accroche"><p>Bienvenue sur la plateforme ARTAETAS </p></div>
      <div class="aa-signin-laiusdetail">
        <p>
          En créant votre profil membre, vous rejoignez une communauté d'artistes, de galeristes, d'amateurs et de collectionneurs en forte croissance et construite autour de valeurs comme la simplicité et la liberté.
        </p>
      </div>
      <div class="aa-signin-laiusdetail">
        <p>
          Il vous reste 2 étapes avant de nous rejoindre : remplissez le formulaire ci-joint puis validez votre adresse email en suivant le lien dans l’email que vous allez recevoir. 
          Pensez à éventuellement vérifier vos spams.
        </p>
      </div>
      <div class="aa-signin-laiusdetail">
        <p>
          Une fois votre email confirmé, vous pouvez surfer sur la plateforme ARTAETAS et vous mettre en relation avec tous ses membres.
        </p>
      </div>
      <div class="aa-signin-laiusdetail">
        <p>
          L'équipe ARTAETAS
        </p>
      </div>
    </div>
    <div class="aa-signin-column">
      <div class="aa-signin-form-titre">
        <p class="text-center">Creer un compte</p>
      </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    label: "Nom d'utilisateur" ,
                    input_html: { autocomplete: "username" }%>
                    
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    label: "Mot de passe",
                    hint: ("#{@minimum_password_length} caracteres minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: "Confirmation du mot de passe",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "S'enregistrer", class: "btn btn-primary aa-signin-btn" %>
      </div>
    <% end %>
    <!-- <  render "devise/shared/links" > -->
    </div>
  </div>
</div>
