
<% if params[:view_param] == "annonce" %>
  <ul class="nav nav-tabs aa-under-navbar" id="myTab" role="tablist" style="height: 20px;">
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <%= inline_svg "groupe.svg", class: "aa-me-navsvg" %>
      <a class="nav-link active" id="annonces-tab" data-toggle="tab" data-view="primary" href="#annonces" role="tab" aria-controls="annonces" aria-selected="true">Mes annonces</a>
    </li>
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
    <%= inline_svg "prix-composant.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Mes transactions</a>
    </li>
    
      <li class="nav-item aa-me-nav-item" style="display: none;">
    <%= inline_svg "profil.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="profil-tab" href="/users/<%= current_user.id %>"  aria-selected="false">Profil public</a>
    </li>
    
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <%= inline_svg "fav.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="fav-tab" data-toggle="tab" href="#fav" role="tab" aria-controls="fav"  aria-selected="false">Mes Favoris</a>
    </li>
    
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <%= inline_svg "administration.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="compte-tab" data-toggle="tab" href="#compte" role="tab" aria-controls="compte" aria-selected="false">Mes informations personnelles</a>
    </li>
    
    
    
    
    
  </ul>
<% else %>
  <ul class="nav nav-tabs aa-under-navbar" id="myTab" role="tablist" style="height: 20px;" >
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <%= inline_svg "groupe.svg", class: "aa-me-navsvg" %>
      <a class="nav-link" id="annonces-tab" data-toggle="tab" href="#annonces" role="tab" aria-controls="annonces" aria-selected="false">Mes annonces</a>
    </li>
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
    <%= inline_svg "prix-composant.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Mes transactions</a>
    </li>
    
      <li class="nav-item aa-me-nav-item" style="display: none;">
    <%= inline_svg "profil.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="profil-tab" href="/users/<%= current_user.id %>"  aria-selected="false">Profil public</a>
    </li>
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <%= inline_svg "fav.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="fav-tab" data-toggle="tab" href="#fav" role="tab" aria-controls="fav"  aria-selected="false">Mes Favoris</a>
    </li>
    
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <%= inline_svg "administration.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link active" id="compte-tab" data-toggle="tab" href="#compte" role="tab" aria-controls="compte" aria-selected="true">Mes informations personnelles</a>
    </li>
    
  </ul>
<% end %>
<div class="tab-content" id="myTabContent">


<% if params[:view_param] == "annonce" %>
  <div class="tab-pane fade active show" id="annonces" role="tabpanel" aria-labelledby="annonces-tab">
<% else %>
  <div class="tab-pane fade" id="annonces" role="tabpanel" aria-labelledby="annonces-tab">
<% end %>
<%# --------------------------------------------------------------------------------------------- %>
  <!--<div class="aa-search-annonce-container">-->
  <!--  <%# if current_user.annonces.count > 0 %>-->
  <!--    <%# current_user.annonces.each do |a| %>-->
  <!--      <div class="aa-search-annonce-card">-->
  <!--        <%#= link_to a, class: "aa-search-annonce-card-image" do %>-->
  <!--          <%#= cl_image_tag a.photo %>-->
  <!--        <%# end %>-->
  <!--        <%#= link_to a, class: "aa-search-annonce-card-detail" do %>-->
  <!--          <b><p class='aa-show-titre'>-->
  <!--            <%#= a.name %>-->
  <!--            <%# case a.envente_yesno %>-->
  <!--              <%# when nil %>-->
  <!--                <p>En attente de moderation</p>-->
  <!--              <%# when true %>-->
  <!--                <p> Confirmée</p>-->
  <!--              <%# when false %>-->
  <!--                <p> Refusée</p>-->
  <!--            <%# end %>-->
  <!--          </p></b>-->
  <!--          <p class="aa-show-detail-italic">-->
  <!--            <%# if a.nom_artiste? %>-->
  <!--               <%#= "#{a.nom_artiste} - "  %>-->
  <!--            <%# end %>-->
  <!--            <%# if a.anneecreation %>-->
  <!--              <%#= "#{a.anneecreation}" %>-->
  <!--            <%# end %>-->
  <!--          </p>-->
  <!--          <p class="aa-show-price  aa-show-detail-italic">-->
  <!--            <%# if a.prix?   %>-->
  <!--              <%# if (a.prix.to_i - a.prix) > 0 %>-->
  <!--                <%#= number_with_delimiter(a.prix.to_s, delimiter: " " ) %>€-->
  <!--              <%# else %>-->
  <!--                <%#= number_with_delimiter(a.prix.to_i.to_s, delimiter: " " ) %>€-->
  <!--              <%# end %>-->
  <!--            <%# end %>-->
  <!--          </p>-->
  <!--          <p class="aa-p-description">-->
  <!--            <%#= a.description %>-->
  <!--          </p>-->
  <!--        <%# end %>-->
  <!--        <div class="aa-search-annonce-card-control">-->
  <!--          <p>-->
  <!--            <%#= link_to "Edit", "/annonces/#{a.id}/edit"%>-->
              <%#= link_to 'Supprimer',  a ,  method: :delete, data: { confirm: 'Are you sure?' } %>
  <!--          </p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    <%# end %>-->
  <!--  <%# else %>-->
  <!--    <h1>Aucune annonce trouvee</h1>-->
  <!--  <%# end %>-->
  <!--</div>-->
  
      <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2>Mes Annonces</h2>        
        </div>
      </div>
  <div class="grid-container aa-search-grid-container">
    <div class="grid-me">
      <div class="grid-sizer-me"></div>
      <div class="gutter-sizer-me"></div>
       <% @annonces.each do |t| %>
       <% if t.formule == "Mise en Avant" %>
         <div class="grid-item-me" style="">
       <% else %>
         <% if t.formule == "Mise a la une" %>
           <div class="grid-item-me" style="">
         <% else %>
           <div class="grid-item-me hello">
         <% end %>
        <% end %>
           <%= link_to annonce_path(t) , { class: "aa-annonce-titre"} do %>
              <% if t.photo.url.nil? %>
                <%= image_tag("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")  %>
              <% else %>
                <%= image_tag(t.photo.url.insert(4, 's'))  %>
              <% end %>
              <%#= image_tag(t.photo.url.insert(4, 's'))  %>
              <%#= image_tag("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data: { original: t.photo.url.insert(4, 's') })  %>
              <% unless t.name.lines.first.nil? %>
                <p class='p-titre-me'><%= t.name.lines.first[0,70] %></p>
              <% end %>
              <% unless t.description.lines.first.nil? %>
                <p class='p-description-me'><%= t.description.lines.first[0,70] %></p>
              <% end %>
              
              <div class="aa-cache-button-me">

                <div class="aa-me-submenu">
                    <% case t.envente_yesno %>
                      <% when nil %>
                        <%= link_to "#", class: "aa-link-confirm-action aa-link-confirm-waiting" do %>
                          <%= inline_svg "attente.svg", class: "aa-confirm-action aa-action-waiting" %>
                        <% end %>
                      <% when true %>
                        <%= link_to "#", class: "aa-link-confirm-action aa-link-confirm-confirmed" do %>
                          <%= inline_svg "ok.svg", class: "aa-confirm-action aa-action-confirmed" %>
                        <% end %>
                      <% when false %>
                        <%= link_to "#", class: "aa-link-confirm-action aa-link-confirm-refused" do %>
                          <%= inline_svg "erreur.svg", class: "aa-confirm-action aa-action-refused" %>
                        <% end %>
                    <% end %>
                </div>
                
                <div class="aa-me-submenu">
                  <%= link_to edit_annonce_path(t), class: "aa-edit-action" do %>
                    <%= inline_svg "modifier.svg", class: "aa-edit-svg" %>
                  <% end %>
                </div>
                
                <div class="aa-me-submenu">
                  <% case t.formule %>
                    <% when "Standard" %>
                      <%= link_to edit_formule_annonce_path(t) , class: "aa-standard-action" do %>
                        <%= inline_svg "prix-composant.svg", class: "aa-suppr-svg" %>
                      <% end %>
                    <% when "Mise en Avant" %>
                      <%= link_to edit_formule_annonce_path(t) , class: "aa-mea-action" do %>
                        <%= inline_svg "prix-composant.svg", class: "aa-suppr-svg" %>
                      <% end %>
                    <% when "Mise a la une" %>
                      <%= link_to edit_formule_annonce_path(t) , class: "aa-malu-action" do %>
                        <%= inline_svg "prix-composant.svg", class: "aa-suppr-svg" %>
                      <% end %>
                  <% end %>                      
                </div>
                
                <div class="aa-me-submenu">
                  <%= link_to t , class: "aa-delete-action", method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <%= inline_svg "suppression.svg", class: "aa-suppr-svg" %>
                  <% end %>
                </div>
                



              </div>
            <% end %>
          </div>
       <% end %>
    </div>
  </div>
<%# --------------------------------------------------------------------------------------------- %>
</div>
<%# -------------------------------------FAVORIS TAB-------------------------------------------------------- %>
<div class="tab-pane fade text-center" id="fav" role="tabpanel" aria-labelledby="fav-tab">
  <div class="aa-me-containermargin">
    
    <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2 class="text-left h2-margin-top">Membres Favoris</h2>        
        </div>
    </div>
      
    <div class="aa-me-flexcontainer-fav">
      <% current_user.followees.each do |user_suivi| %>
      <div class="aa-show-detailuser-contact aa-show-minheight aa-flexitem-fav">
            
            <div class="aa-show-detailuser-contact-container" style="padding-bottom: 0px; margin-bottom: 0px; border-width: 0px;">
              <div class="aa-show-detailuser-contact-profil">
                <div class="aa-show-contact-profil-photo" id="profilAvatarShow">
                  <% if user_suivi.photoprofil?  %>
                    <%= cl_image_tag user_suivi.photoprofil, class: "aa-show-contact-svg"  %>
                  <% else %>
                    <%= inline_svg "profil.svg", class: "aa-show-contact-svg" %>
                  <% end %>
                </div>
                
                <div class="aa-show-contact-profil-detail">
                  <%# if @annonces.user.afficher_identite %>
                    <%#= link_to "#{@annonces.user.surname} #{@annonces.user.lastname}", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                  <%# else %>
                    <% if user_suivi.username %>
                     <%= link_to "#{user_suivi.username}", "/users/#{user_suivi.id}", class: "aa-show-user-link"  %>
                    <%# else %>
                      <%#= link_to "Profil Auteur", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                    <%# end %>
                  <% end %>
                  <% if user_suivi.statut %>
                    <div class="aa-show-contact-profil-statut"><%= user_suivi.statut %></div>
                  <% end %>
                  <div class="aa-show-contact-profil-nbannonces"><%= user_suivi.annonces.count %> annonces en ligne</div>
                  
                    
                    <% if user_signed_in? %>
                      <% if current_user.followees.include?(user_suivi) %>
                      <div class="aa-show-detailuser-followbtn" style="align-self: center;"><%= link_to "MEMBRE SUIVI", unfollow_annonce_path(user_suivi.annonces.first), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "enlever.svg", class: "aa-show-follow-svg" %></div>
                      <% else %>
                        <div class="aa-show-detailuser-followbtn" style="align-self: center;"><%= link_to "SUIVRE LE MEMBRE", follow_annonce_path(user_suivi.annonces.first), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "ajouter.svg", class: "aa-show-follow-svg" %></div>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
      
      <% end %>
    </div>
    <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2 class="text-left h2-margin-top">Annonces Favorites</h2>        
        </div>
    </div>
    <div class="aa-me-flexcontainer-fav">


          <% i = 0 %>
      <% @bmlist.each do |bml| %>
              <div class="aa-show-detailuser-contact aa-show-minheight aa-flexitem-fav">
        <div class="aa-show-detailuser-contact-container" style="height: 100%;padding-bottom: 0px; margin-bottom: 0px; border-width: 0px;">
          <div class="aa-me-favoriuseritem">
            <%= link_to "/annonces/#{@bmlist[i]}" do %>
              <%= cl_image_tag Annonce.find(@bmlist[i]).photo, class: "aa-me-favoriuser-image" %>
            <% end %>
          </div>
          </div>
          </div>
        <% i += 1 %>
      <% end %>

      
    </div>
  </div><!-- containermargin-->
</div>
<%# -------------------------------------Transaction TAB-------------------------------------------------------- %>

  <div class="tab-pane fade text-center" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
    
      <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2 class="text-left">Mes Transactions</h2>        
        </div>
      </div>
    
  Aucune transaction pour le moment!
  </div>



<% if params[:view_param] == "annonce" %>
  <div class="tab-pane fade" id="compte" role="tabpanel" aria-labelledby="compte-tab">
<% else %>
  <div class="tab-pane fade show active" id="compte" role="tabpanel" aria-labelledby="compte-tab">
<% end %>
    <div class="aa-me-moncompte-container">
      <!--<div class="aa-me-tablematiere">-->
      <!--  <div class="aa-me-tablematiere-ilot">-->
      <!--    <div class="aa-me-tablematiere-item">-->
      <!--      <a href="#infoperso">Infos personnelles</a><br>-->
      <!--    </div>-->
      <!--    <div class="aa-me-tablematiere-item">-->
      <!--      <a href="#email"> Email </a><br>-->
      <!--    </div>-->
      <!--    <div class="aa-me-tablematiere-item">-->
      <!--      <a href="#psw"> Mot de passe </a><br>-->
      <!--    </div>-->
      <!--    <div class="aa-me-tablematiere-item">-->
            <%#= link_to "Profil Public", "/users/#{current_user.id}" %>
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      
      <div class="aa-me-infoperso">
        
        <div class="aa-me-infocivil">
          <a name="infoperso"></a>
          <h2>Mes informations personnelles</h2>
            <%= simple_form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :username, label: "Pseudonyme", hint: "votre nom d'utilisateur", autofocus: true, required: false %>
                <%#= f.input :email, required: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.label :surname, "Prénom" %>
                <%= f.input :surname, require: false, label: false %>
                <%#= f.input :surname, hint: "votre prénom", require: false, label: false %>

                <%= f.label :lastname, "Nom de famille" %>
                <%= f.input :lastname, require: false, label: false %>

                <%= f.input :afficher_identite,
                            hint: "cocher pour les faire apparaitre dans votre profil et dans les annonces",
                            label: "Afficher vos nom et prénom",
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>
                <%= f.input :afficher_email,
                            hint: "cocher pour qu'un membre puisse vous contacter par email. Votre email restera confidentiel tant que vous ne répondrez pas",
                            label: "Activer les contacts emails",
                            require: false, default: 'false',
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>

                <%= f.input :tel, label: "Numéro de téléphone", hint: "Ce numéro pourra être utilisé pour vous contacter", require: false %>
                <%= f.input :afficher_tel, 
                            label: "Afficher le numéro de téléphone",
                            hint: "cocher pour que votre numéro apparaisse dans votre profil et dans les annonces",
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>


                <%= f.input :paysresidence, 
                            label: "Pays de résidence", 
                            # hint: "pays de résidence", 
                            require: false %>
                <%= f.input :villeresidence, 
                            label: "Ville de résidence", 
                            # hint: "ville de résidence", 
                            require: false %>
                <%= f.input :codepostal, 
                            label: "Code Postal", 
                            # hint: "code postal de la ville de résidence", 
                            require: false %>

                <%= f.input :instagram,
                    label: "Compte Instagram",
                    hint: "identifiez votre compte instagram dans l'URL instagram.com/VOTRECOMPTE/", 
                    require: false %>
                <%= f.input :facebook, 
                    label: "Compte Facebook",
                    hint: "identifiez votre identifiant facebook dans l'URL facebook.com/VOTRECOMPTE/", 
                    require: false %>
                <%= f.input :website, 
                    label: "Site Web",
                    #hint: "site web", 
                    require: false %>
                <%= f.input :statut, hint: "statut de votre profil", :collection => ["Artiste","Galerie", "Amateur", "Collectionneur", "Association"], require: false %>
                <%= f.input :description, 
                            hint: "décrivez-vous en quelques mots", 
                            require: false %>
                <%= f.input :masquefavoris, 
                            label: "Masquer vos favoris", 
                            hint: "masquer vos annonces et membres favoris", 
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" }  
                            %>
                <%= f.input :masquepublication, 
                            label: "Masquer vos Publications", 
                            hint: "Masquer les annonces que vous avez publiées", 
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>
                
                
        <div class="aa-new-photo-field">
          <div class="aa-new-photo-field-indivi2">
            <%= f.input :photoprofil,
             label: "Photo de profil",
            :input_html => { :onchange => "document.getElementById('previewPhotoProfil').src = window.URL.createObjectURL(this.files[0])", 
            class: 'hide-photo-btn' } %>
            <% if current_user.photoprofil? %>
              <%= cl_image_tag current_user.photoprofil, class: "aa-edit-thumbnail", id: "previewPhotoProfil" %>
            <% else %>
              <img class="aa-edit-thumbnail" id="previewPhotoProfil" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"></img>
            <% end %>
            <%= f.input :photoprofil_cache, as: :hidden %>
          </div>
          
          <div class="aa-new-photo-field-indivi">
            <%= f.input :photofond,
             label: "Bannière de profil",
            :input_html => { :onchange => "document.getElementById('previewPhotoFond').src = window.URL.createObjectURL(this.files[0])", 
            class: 'hide-photo-btn' }  %>
            <% if current_user.photofond? %>
              <%= cl_image_tag current_user.photofond, class: "aa-edit-thumbnail", id: "previewPhotoFond" %>
            <% else %>
              <img class="aa-edit-thumbnail-large" id="previewPhotoFond" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"></img>
            <% end %>
            <%= f.input :photofond_cache, as: :hidden %>
          </div>
        </div>


              </div>



            <!-- <h3>Cancel my account</h3>

            <p>Unhappy? < link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ></p> -->

            <%#= link_to "Back", :back %>

        </div>
        <div class="aa-me-email">
        <a name="email"></a>
        <h2>Mon email</h2>

          <div class="form-inputs">
            <%= f.input :email, 
            required: false, 
            autofocus: true %>
          </div>
        </div>
        
      <div class="aa-me-psw">
        <a name="psw"></a>
        <h2>Modifier mon mot de passe</h2>
         <div class="form-inputs">
           <%= f.input :current_password,
                       hint: "Nécessaire pour changer de mot de passe ou d'email",
                       required: true,
                       label: "Mot de passe actuel",
                       input_html: { autocomplete: "new-password", readonly: "readonly", onfocus: "this.removeAttribute('readonly');" } %>
           <%= f.input :password,
                       required: false,
                       label: "Nouveau mot de passe",
                       input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        label: "Confirmation nouveau mot de passe",
                        input_html: { autocomplete: "new-password" } %>
                  <%#= f.input :current_password,
                              hint: "we need your current password to confirm your changes",
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
          </div>
        </div>
        
        <div class="aa-me-submit">
          <div class="form-actions">
            <%= f.button :submit, "Valider les informations", class: "btn-primary aa-signin-btn" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


