<ul class="nav nav-tabs aa-under-navbar" id="myTab" role="tablist">
  <li class="nav-item aa-me-nav-item">
    <%= inline_svg "administration.svg", class: "aa-me-navsvg"  %>
    <a class="nav-link active" id="compte-tab" data-toggle="tab" href="#compte" role="tab" aria-controls="compte" aria-selected="true">Mon compte</a>
  </li>
  <li class="nav-item aa-me-nav-item">
    <%= inline_svg "groupe.svg", class: "aa-me-navsvg" %>
    <a class="nav-link" id="annonces-tab" data-toggle="tab" href="#annonces" role="tab" aria-controls="annonces" aria-selected="false">Mes annonces</a>
  </li>
  <li class="nav-item aa-me-nav-item">
  <%= inline_svg "prix-composant.svg", class: "aa-me-navsvg"  %>
    <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Mes transactions</a>
  </li>
    <li class="nav-item aa-me-nav-item">
  <%= inline_svg "profil.svg", class: "aa-me-navsvg"  %>
    <a class="nav-link" id="profil-tab" href="/users/<%= current_user.id %>"  aria-selected="false">Profil public</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">



<div class="tab-pane fade" id="annonces" role="tabpanel" aria-labelledby="annonces-tab">
<%# --------------------------------------------------------------------------------------------- %>
  <!--<div class="aa-search-annonce-container">-->
  <!--  <%# if current_user.annonces.count > 0 %>-->
  <!--    <%# current_user.annonces.each do |a| %>-->
  <!--      <div class="aa-search-annonce-card">-->
  <!--        <%#= link_to a, class: "aa-search-annonce-card-image" do %>-->
  <!--          <%#= cl_image_tag a.photo %>-->
  <!--        <%# end %>-->
  <!--        <%#= link_to a, class: "aa-search-annonce-card-detail" do %>-->
  <!--          <b><p class='aa-show-titre'>-->
  <!--            <%#= a.name %>-->
  <!--            <%# case a.envente_yesno %>-->
  <!--              <%# when nil %>-->
  <!--                <p>En attente de moderation</p>-->
  <!--              <%# when true %>-->
  <!--                <p> Confirmée</p>-->
  <!--              <%# when false %>-->
  <!--                <p> Refusée</p>-->
  <!--            <%# end %>-->
  <!--          </p></b>-->
  <!--          <p class="aa-show-detail-italic">-->
  <!--            <%# if a.nom_artiste? %>-->
  <!--               <%#= "#{a.nom_artiste} - "  %>-->
  <!--            <%# end %>-->
  <!--            <%# if a.anneecreation %>-->
  <!--              <%#= "#{a.anneecreation}" %>-->
  <!--            <%# end %>-->
  <!--          </p>-->
  <!--          <p class="aa-show-price  aa-show-detail-italic">-->
  <!--            <%# if a.prix?   %>-->
  <!--              <%# if (a.prix.to_i - a.prix) > 0 %>-->
  <!--                <%#= number_with_delimiter(a.prix.to_s, delimiter: " " ) %>€-->
  <!--              <%# else %>-->
  <!--                <%#= number_with_delimiter(a.prix.to_i.to_s, delimiter: " " ) %>€-->
  <!--              <%# end %>-->
  <!--            <%# end %>-->
  <!--          </p>-->
  <!--          <p class="aa-p-description">-->
  <!--            <%#= a.description %>-->
  <!--          </p>-->
  <!--        <%# end %>-->
  <!--        <div class="aa-search-annonce-card-control">-->
  <!--          <p>-->
  <!--            <%#= link_to "Edit", "/annonces/#{a.id}/edit"%>-->
              <%#= link_to 'Supprimer',  a ,  method: :delete, data: { confirm: 'Are you sure?' } %>
  <!--          </p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    <%# end %>-->
  <!--  <%# else %>-->
  <!--    <h1>Aucune annonce trouvee</h1>-->
  <!--  <%# end %>-->
  <!--</div>-->
  
  <div class="grid-container aa-search-grid-container">
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
       <% @annonces.each do |t| %>
         <div class="grid-item">
           <%= link_to annonce_path(t) , { class: "aa-annonce-titre"} do %>
                <%= image_tag(t.photo.url.insert(4, 's'))  %>
  
                <% unless t.name.lines.first.nil? %>
                  <p class='p-titre'><%= t.name.lines.first[0,70] %></p>
                <% end %>
                
                
                <% unless t.description.lines.first.nil? %>
                  <p class='p-description'><%= t.description.lines.first[0,70] %></p>
                <% end %>
            <% end %>
            </div>
       <% end %>
    </div>
  </div>
<%# --------------------------------------------------------------------------------------------- %>
</div>




  <div class="tab-pane fade text-center" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
  Aucune transaction pour le moment!
  </div>




  <div class="tab-pane fade show active" id="compte" role="tabpanel" aria-labelledby="compte-tab">
    <div class="aa-me-moncompte-container">
      <!--<div class="aa-me-tablematiere">-->
      <!--  <div class="aa-me-tablematiere-ilot">-->
      <!--    <div class="aa-me-tablematiere-item">-->
      <!--      <a href="#infoperso">Infos personnelles</a><br>-->
      <!--    </div>-->
      <!--    <div class="aa-me-tablematiere-item">-->
      <!--      <a href="#email"> Email </a><br>-->
      <!--    </div>-->
      <!--    <div class="aa-me-tablematiere-item">-->
      <!--      <a href="#psw"> Mot de passe </a><br>-->
      <!--    </div>-->
      <!--    <div class="aa-me-tablematiere-item">-->
            <%#= link_to "Profil Public", "/users/#{current_user.id}" %>
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      
      <div class="aa-me-infoperso">
        
        <div class="aa-me-infocivil">
          <a name="infoperso"></a>
          <h2>Mes informations personnelles</h2>
            <%= simple_form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :username, label: "Pseudonyme", hint: "votre nom d'utilisateur", autofocus: true, required: false %>
                <%#= f.input :email, required: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
                <%= f.label :surname, "Prénom" %>
                <%= f.input :surname, require: false, label: false %>
                <%#= f.input :surname, hint: "votre prénom", require: false, label: false %>

                <%= f.label :lastname, "Nom de famille" %>
                <%= f.input :lastname, require: false, label: false %>

                <%= f.input :afficher_identite,
                            hint: "cocher pour faire apparaitre dans votre profil et dans les annonces",
                            label: "Afficher vos nom et prenoms",
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>
                <%= f.input :afficher_email,
                            hint: "cocher pour que votre email apparaisse dans votre profil et dans les annonces",
                            label: "Afficher votre email",
                            require: false, default: 'false',
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>

                <%= f.input :tel, label: "Numéro de téléphone", hint: "ce numéro pourra etre utiliser pour vous contacter", require: false %>
                <%= f.input :afficher_tel, 
                            label: "Afficher le numéro de téléphone",
                            hint: "cocher pour que votre numéro apparaisse dans votre profil et dans les annonces",
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>


                <%= f.input :paysresidence, 
                            label: "Pays de résidence", 
                            # hint: "pays de résidence", 
                            require: false %>
                <%= f.input :villeresidence, 
                            label: "Ville de résidence", 
                            # hint: "ville de résidence", 
                            require: false %>
                <%= f.input :codepostal, 
                            label: "Code Postal", 
                            # hint: "code postal de la ville de résidence", 
                            require: false %>

                <%= f.input :instagram,
                    label: "Compte Instagram",
                    hint: "identifiez votre compte instagram dans l'URL instagram.com/VOTRECOMPTE/", 
                    require: false %>
                <%= f.input :facebook, 
                    label: "Compte Facebook",
                    hint: "identifiez votre identifiant facebook dans l'URL facebook.com/VOTRECOMPTE/", 
                    require: false %>
                <%= f.input :website, 
                    label: "Site Web",
                    #hint: "site web", 
                    require: false %>
                <%= f.input :statut, hint: "statut de votre profil", :collection => ["Artiste","Gallerie", "Amateur", "Collectionneur", "Association"], require: false %>
                <%= f.input :description, 
                            hint: "décrivez-vous en quelques mots", 
                            require: false %>
                <%= f.input :masquefavoris, 
                            label: "Masquer vos favoris", 
                            hint: "masquer vos annonces et users favoris", 
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" }  
                            %>
                <%= f.input :masquepublication, 
                            label: "Masquer vos Publications", 
                            hint: "masquer les annonces que vous avez créé", 
                            require: false,
                            input_html: { class: 'aa-new-hide-chkbox' }, 
                            label_html: { class: "aa-new-label-chkbox" } 
                            %>
                
                
        <div class="aa-new-photo-field">
          <div class="aa-new-photo-field-indivi2">
            <%= f.input :photoprofil,
             label: "Avatar",
            :input_html => { :onchange => "document.getElementById('previewPhotoProfil').src = window.URL.createObjectURL(this.files[0])", 
            class: 'hide-photo-btn' } %>
            <% if current_user.photoprofil? %>
              <%= cl_image_tag current_user.photoprofil, class: "aa-edit-thumbnail", id: "previewPhotoProfil" %>
            <% else %>
              <img class="aa-edit-thumbnail" id="previewPhotoProfil" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"></img>
            <% end %>
            <%= f.input :photoprofil_cache, as: :hidden %>
          </div>
          
          <div class="aa-new-photo-field-indivi">
            <%= f.input :photofond,
             label: "Bannière",
            :input_html => { :onchange => "document.getElementById('previewPhotoFond').src = window.URL.createObjectURL(this.files[0])", 
            class: 'hide-photo-btn' }  %>
            <% if current_user.photofond? %>
              <%= cl_image_tag current_user.photofond, class: "aa-edit-thumbnail", id: "previewPhotoFond" %>
            <% else %>
              <img class="aa-edit-thumbnail" id="previewPhotoFond" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"></img>
            <% end %>
            <%= f.input :photofond_cache, as: :hidden %>
          </div>
        </div>


              </div>



            <!-- <h3>Cancel my account</h3>

            <p>Unhappy? < link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ></p> -->

            <%#= link_to "Back", :back %>

        </div>
        <div class="aa-me-email">
        <a name="email"></a>
        <h2>Mon email</h2>

          <div class="form-inputs">
            <%= f.input :email, 
            required: false, 
            autofocus: true %>
          </div>
        </div>
        
      <div class="aa-me-psw">
        <a name="psw"></a>
        <h2>Mon mot de passe</h2>
         <div class="form-inputs">
           <%= f.input :current_password,
                       hint: "Nécessaire pour changer de mot de passe ou d'email",
                       required: true,
                       label: "Mot de passe actuel",
                       input_html: { autocomplete: "new-password", readonly: "readonly", onfocus: "this.removeAttribute('readonly');" } %>
           <%= f.input :password,
                       hint: "Laisser vide si pas de changement",
                       required: false,
                       label: "Nouveau mot de passe",
                       input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        label: "Confirmation nouveau mot de passe",
                        input_html: { autocomplete: "new-password" } %>
                  <%#= f.input :current_password,
                              hint: "we need your current password to confirm your changes",
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
          </div>
        </div>
        
        <div class="aa-me-submit">
          <div class="form-actions">
            <%= f.button :submit, "Valider les informations", class: "btn-primary aa-signin-btn" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


