<div class="aa-me-undernavbar"></div>
  <ul class="nav nav-tabs aa-under-navbar" id="myTab" role="tablist" style="height: 155px;" >
    
    <li class="nav-item aa-me-nav-item">
      <%= inline_svg "groupe.svg", class: "aa-me-navsvg" %>
      <a class="nav-link" id="annonces-tab"  href="/users/mesannonces" role="tab" aria-controls="annonces" aria-selected="false">Mes annonces</a>
    </li>
    
    <li class="nav-item aa-me-nav-item">
    <%= inline_svg "prix-composant.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="transactions-tab"  href="/users/mestransactions" role="tab" aria-controls="transactions" aria-selected="false">Mes transactions</a>
    </li>
    
      <li class="nav-item aa-me-nav-item">
    <%= inline_svg "profil.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="profil-tab" href="/users/<%= current_user.username %>"  aria-selected="false">Profil public</a>
    </li>
    
    <li class="nav-item aa-me-nav-item">
      <%= inline_svg "fav.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link active" id="fav-tab"  href="/users/mesfavoris" role="tab" aria-controls="fav"  aria-selected="true">Mes Favoris</a>
    </li>
    
    <li class="nav-item aa-me-nav-item">
      <%= inline_svg "administration.svg", class: "aa-me-navsvg"  %>
      <a class="nav-link" id="compte-tab" href="/users/mesinfos" role="tab" aria-controls="compte" aria-selected="false">Mes informations</a>
    </li>
    
  </ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade text-center active show" id="fav" role="tabpanel" aria-labelledby="fav-tab">
  <div class="aa-me-containermargin">
    <% if ( current_user.followees.empty? && current_user.followers.empty? && @bmlist.empty? ) %>
      <div class="aa-me-moncompte-container">
          <div class="aa-me-infoperso">
            <h2 class="text-center h2-margin-top">Aucun favori d'aucune sorte</h2>        
          </div>
      </div>
    <% end %>
    
    <% unless current_user.followees.empty? %>
      <div class="aa-me-moncompte-container">
          <div class="aa-me-infoperso">
            <h2 class="text-center h2-margin-top">Membres que vous suivez</h2>        
          </div>
      </div>
    <% end %>  
    <div class="aa-me-flexcontainer-fav">
      <% current_user.followees.each do |user_suivi| %>
      <div class="aa-show-detailuser-contact aa-show-minheight aa-flexitem-fav">
            
            <div class="aa-show-detailuser-contact-container" style="padding-bottom: 0px; margin-bottom: 0px; border-width: 0px;">
              <div class="aa-show-detailuser-contact-profil">
                <div class="aa-show-contact-profil-photo" id="profilAvatarShow">
                  <% if user_suivi.photoprofil?  %>
                    <%= cl_image_tag user_suivi.photoprofil, class: "aa-show-contact-svg"  %>
                  <% else %>
                    <%= inline_svg "profil.svg", class: "aa-show-contact-svg" %>
                  <% end %>
                </div>
                
                <div class="aa-show-contact-profil-detail">
                  <%# if @annonces.user.afficher_identite %>
                    <%#= link_to "#{@annonces.user.surname} #{@annonces.user.lastname}", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                  <%# else %>
                    <% if user_suivi.username %>
                     <%= link_to "#{user_suivi.username}", profil_path(user_suivi.username), class: "aa-show-user-link"  %>
                    <%# else %>
                      <%#= link_to "Profil Auteur", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                    <%# end %>
                  <% end %>
                  <% if user_suivi.statut %>
                    <div class="aa-show-contact-profil-statut"><%= user_suivi.statut %></div>
                  <% end %>
                  <div class="aa-show-contact-profil-nbannonces"><%= user_suivi.annonces.count %> annonces en ligne</div>
                  
                    
                    <% if user_signed_in? %>
                      <% if current_user.followees.include?(user_suivi) %>
                      <div class="aa-show-detailuser-followbtn" style="align-self: center;"><%= link_to "MEMBRE SUIVI", unfollowuser_annonce_path(user_suivi.id), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "enlever.svg", class: "aa-show-follow-svg" %></div>
                      <% else %>
                        <div class="aa-show-detailuser-followbtn" style="align-self: center;"><%= link_to "SUIVRE LE MEMBRE", follow_ser_annonce_path(user_suivi.id), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "ajouter.svg", class: "aa-show-follow-svg" %></div>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
      
      <% end %>
    </div>
    <% unless current_user.followers.empty? %>
      <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2 class="text-center h2-margin-top">Membres qui vous suivent</h2>        
        </div>
      </div>
    <% end %>
    <div class="aa-me-flexcontainer-fav">
      <% current_user.followers.each do |user_suiveur| %>
      <div class="aa-show-detailuser-contact aa-show-minheight aa-flexitem-fav">
            
            <div class="aa-show-detailuser-contact-container" style="padding-bottom: 0px; margin-bottom: 0px; border-width: 0px;">
              <div class="aa-show-detailuser-contact-profil">
                <div class="aa-show-contact-profil-photo" id="profilAvatarShow">
                  <% if user_suiveur.photoprofil?  %>
                    <%= cl_image_tag user_suiveur.photoprofil, class: "aa-show-contact-svg"  %>
                  <% else %>
                    <%= inline_svg "profil.svg", class: "aa-show-contact-svg" %>
                  <% end %>
                </div>
                
                <div class="aa-show-contact-profil-detail">
                  <%# if @annonces.user.afficher_identite %>
                    <%#= link_to "#{@annonces.user.surname} #{@annonces.user.lastname}", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                  <%# else %>
                    <% if user_suiveur.username %>
                     <%= link_to "#{user_suiveur.username}", profil_path(user_suiveur.username), class: "aa-show-user-link"  %>
                    <%# else %>
                      <%#= link_to "Profil Auteur", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                    <%# end %>
                  <% end %>
                  <% if user_suiveur.statut %>
                    <div class="aa-show-contact-profil-statut"><%= user_suiveur.statut %></div>
                  <% end %>
                  <div class="aa-show-contact-profil-nbannonces"><%= user_suiveur.annonces.count %> annonces en ligne</div>
                  
                    
                    <% if user_signed_in? %>
                      <% if current_user.followees.include?(user_suiveur) %>
                      <div class="aa-show-detailuser-followbtn" style="align-self: center;"><%= link_to "MEMBRE SUIVI", unfollowuser_annonce_path(user_suiveur.id), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "enlever.svg", class: "aa-show-follow-svg" %></div>
                      <% else %>
                        <div class="aa-show-detailuser-followbtn" style="align-self: center;"><%= link_to "SUIVRE LE MEMBRE", followuser_annonce_path(user_suiveur.id), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "ajouter.svg", class: "aa-show-follow-svg" %></div>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
      
      <% end %>
    </div>
    <% unless @bmlist.empty? %>
      <div class="aa-me-moncompte-container">
          <div class="aa-me-infoperso">
            <h2 class="text-center h2-margin-top">Annonces Favorites</h2>        
          </div>
      </div>
    <% end %>
    <div class="aa-me-flexcontainer-fav">


          <% i = 0 %>
      <% @bmlist.each do |bml| %>
              <div class="aa-show-detailuser-contact aa-show-minheight aa-flexitem-fav">
        <div class="aa-show-detailuser-contact-container" style="height: 100%;padding-bottom: 0px; margin-bottom: 0px; border-width: 0px;">
          <div class="aa-me-favoriuseritem">
            <%= link_to "/annonces/#{bml.slug}" do %>
              <%= cl_image_tag Annonce.find(bml.id).photo.exifignore, class: "aa-me-favoriuser-image-bm" %>
            <% end %>
          </div>
          </div>
          </div>
        <% i += 1 %>
      <% end %>

      
    </div>
  </div><!-- containermargin-->
</div>
</div>