<div class="aa-me-undernavbar"></div>
  <ul class="nav nav-tabs aa-under-navbar" id="myTab" role="tablist" style="height: 20px;">
    <li class="nav-item aa-me-nav-item" style="display: none;">
      <a class="nav-link active" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="true">Mes transactions</a>
    </li>
  </ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade text-center active show" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
    
    <div class="aa-me-containermargin">
      <div class="aa-me-moncompte-container">
        <div class="aa-me-infoperso">
          <h2 class="text-left">Mes Transactions</h2>        
        </div>
      </div>
      
      <h3>Payée</h3>
      <table class="aa-order-table">
        <tr>
          <th class="aa-order-filler"></th>
          <th class="aa-order-header">Date</th>
          <th class="aa-order-header">Formule</th>
          <th class="aa-order-header">Montant</th>
          <th class="aa-order-header">Annonce</th>
          <th class="aa-order-header">Facture</th>
          <th class="aa-order-filler"></th>
        </tr>
        <% @paid.each do |unit| %>
        <tr>
          <td class="aa-order-filler"></td>
          <td class="aa-order-fifthcell"><%= "#{unit.created_at}" %></td>
          <td class="aa-order-firstcell"><%= "#{(unit.premium_sku == "Mise en Avant" ? "Mise en avant" : "Mise à la une")}" %></td>
          <td class="aa-order-secondcell"><%= "#{unit.amount} €" %></td>
          <td class="aa-order-thirdcell"><%= "#{unit.annonce.name.lines.first[0,30]} #{(unit.annonce.name.lines.first[31].nil? ? '' : '..')}" %></td>
          <td class="aa-order-fourthcell"><%= link_to "PDF", facturepdf_path(unit.slug, unit.id, format: "pdf")  %></td>
          <td class="aa-order-filler"></td>
        </tr>
        <% end %>
      </table>
      <br>
      <h3>Offerte</h3>
      <table class="aa-order-table">
      <% @gifted.each do |unit| %>
        <tr>
          <td class="aa-order-filler"></td>
          <td class="aa-order-fifthcell"><%= "#{unit.created_at}" %></td>
          <td class="aa-order-firstcell"><%= "#{(unit.premium_sku == "Mise en Avant" ? "Mise en avant" : "Mise à la une")}" %></td>
          <td class="aa-order-secondcell"><%= "#{unit.amount} €" %></td>
          <td class="aa-order-thirdcell"><%= "#{unit.annonce.name.lines.first[0,30]} #{(unit.annonce.name.lines.first[31].nil? ? '' : '..')}" %></td>
          <td class="aa-order-fourthcell"><%= link_to "PDF", facturepdf_path(unit.slug, unit.id, format: "pdf")  %></td>
          <td class="aa-order-filler"></td>
        </tr>
      <% end %>
      </table>
      <br>
      <h3>Refusée</h3>
      <!--<table class="aa-order-table">-->
        <%# @pending.each do |unit| %>
        <!--<tr>-->
        <!--  <td class="aa-order-filler"></td>-->
        <!--  <td class="aa-order-fifthcell"><%#= "#{unit.created_at}" %></td>-->
        <!--  <td class="aa-order-firstcell"><%#= "#{(unit.premium_sku == "Mise en Avant" ? "Mise en avant" : "Mise à la une")}" %></td>-->
        <!--  <td class="aa-order-secondcell"><%#= "#{unit.amount} €" %></td>-->
        <!--  <td class="aa-order-thirdcell"><%#= "#{unit.annonce.name.lines.first[0,30]} #{(unit.annonce.name.lines.first[31].nil? ? '' : '..')}" %></td>-->
        <!--  <td class="aa-order-fourthcell-nopdf"></td>-->
        <!--  <td class="aa-order-filler"></td>-->
        <!--</tr>-->
        <%# end %>
      <!--</table>-->
      <!--Aucune transaction pour le moment!-->
    </div>
  </div>
</div>