<!-- < link_to "Liste Users", users_path > -->
<!-- <br>
< @user.email >
<br>
< @user.annonces.each do |a| >
<p>< link_to a.name, "/annonces/#{a.id}" >
< a.description ></p>
< end > -->
<div class="aa-me-annonce-container">
  <div class="aa-me-show-details">
    <div class="aa-me-show-details-encart">
        <% if @user.afficher_email %>
            <%=  "#{@user.email}" %>
          <% else %>
            <%= "User_#{@user.created_at.to_i}" %>
          <% end %>
          <% if @user.afficher_identite %>
            <p><%= "#{@user.surname} #{@user.lastname}" %></p>
          <% end %>
          <% if @user.afficher_tel %>
            <p><%= "#{@user.tel}" %></p>
          <% end %>
    </div>
  </div>
</div>
<div class="aa-me-annonce-container">
      <% if @user.annonces.count > 0 %>
      <h2><%= "#{@user.annonces.count} annonces en ligne" %></h2>
        <% @user.annonces.each do |a| %>

            <div class="aa-me-annonce-card">
            <%= link_to a, class: "aa-me-annonce-card-image" do %>
              <!-- <div class="aa-me-annonce-card-image"> -->
                <%= cl_image_tag a.photo %>
              <!-- </div> -->
            <% end %>
            <%= link_to a, class: "aa-me-annonce-card-detail" do %>
              <p><%= a.name.lines.first[0,30] %></p>
              <p><%= a.prix %><%= "€" unless a.prix.nil? %></p>
              <p><%= a.description.lines.first[0,30] %></p>
            <% end %>


            </div>

        <% end %>
      <% else %>
        <h1>Aucune annonce trouvee</h1>
      <% end %>
    </div>
  </div>
