<% if @user.photofond? %>
      <div class="aa-me-show-fondprofilcontainer" style="display: flex;background-color: #dddddd;justify-content: center; object-fit: contain;"><%= image_tag @user.photofond.low.exifignore %></div>
      <%# <div class="aa-me-show-fondprofilcontainer" style="background-image: url(' %>
      <%#= "#{@user.photofond.url}" %>
      <%# \')  ;\"></div> %>
<% else %>
      <div class="aa-me-show-fondprofilcontainer" style="display: flex;background-color: #dddddd;justify-content: center; object-fit: contain;"><%= image_tag asset_path("bgartaetas.jpg") %></div>
<% end %>
<div class="aa-me-container2">
  <div class="aa-me-descriptionuser">
    <div class="aa-me-descriptionuser-left">
      
      <div class="aa-me-descriptionuser-topleft">
        <div class="aa-me-descriptionuser-portrait">
          <div class="aa-me-descriptionuser-portraitfond">
            <% if @user.photoprofil? %>
              <%= cl_image_tag @user.photoprofil.exifignore, class: "aa-me-show-portraitphoto" %>
            <% else %>
              <%= inline_svg "profil.svg", class: "aa-me-show-portraitphoto aa-me-show-profilblank" %>
            <% end %>
          </div>
        </div>
        
        <div class="aa-me-descriptionuser-caracteristiques">
            <%# if @user.afficher_identite %>
              <%#= link_to "#{@user.surname} #{@user.lastname}", "/users/#{@user.id}", class: "aa-show-user-link"  %>
            <%# else %>
              <% if @user.username %>
                <%= link_to "#{@user.username}", profil_path(@user.username) , class: "aa-show-user-link"  %>
              <%# else %>
                  <%#= link_to "Profil Auteur", "/users/#{@user.id}", class: "aa-show-user-link"  %>
              <% end %>
            <%# end %>
              <% if @user.statut %>
                <div class="aa-show-contact-profil-statut"><%= @user.statut %></div>
              <% end %>
            <div class="aa-show-contact-profil-nbannonces"><%= @user.annonces.count %> 
              <% if @user.annonces.count <= 1 %>
                annonce en ligne
              <% else %>
                annonces en ligne
              <% end %>
              
            </div>
                
          <% if user_signed_in? %>
            <% if current_user.followees.include?(@user) %>
              <div class="aa-show-detailuser-followbtn"><%= link_to "MEMBRE SUIVI", unfollowuser_annonce_path(@user), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "enlever.svg", class: "aa-show-follow-svg" %></div>
            <% else %>
              <div class="aa-show-detailuser-followbtn"><%= link_to "SUIVRE LE MEMBRE", followuser_annonce_path(@user), method: :put, class: "aa-show-suivre-link" %> <%#= inline_svg "ajouter.svg", class: "aa-show-follow-svg" %></div>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="aa-me-descriptionuser-descr">
        <% if @user.description %>
          <p><%= "#{@user.description}" %></p>
        <% end %>
      </div>
      
      
    </div>
    <div class="aa-me-descriptionuser-right">
      <div class="aa-me-descriptionuser-stats">
        <div class="aa-me-descriptionuser-statsblue">
          
          <div class="aa-statsblue-stats">
            <div class="aa-statsblue-stats-likecount">
              <p class="aa-statsblue-greyp">LIKES</p>
              <% count_likes = 0 %>
                <% @user.annonces.each do |annonce| %>
                <% count_likes += annonce.get_likes.count %>
                <% end %>
              <p class="aa-statsblue-whitep">
                <%= count_likes %>
              </p>
            </div>
            <div class="aa-statsblue-stats-followerscount">
              <p class="aa-statsblue-greyp">SUIVI PAR</p>
              <p class="aa-statsblue-whitep">
                <%= @user.followers.count %>
              </p>
            </div>
            <div class="aa-statsblue-stats-followeecount">
              <p class="aa-statsblue-greyp">SUIT</p>
              <p class="aa-statsblue-whitep">
                <%= @user.followees.count %>
              </p>
            </div>
          </div>
          
          
          
          <% if user_signed_in? %>    
              <% if @user.afficher_email %>
                <div class="aa-show-detailuser-contact-email">
                  <div class="aa-show-detailuser-contact-btn">    
                    
                        <%= inline_svg "conversation.svg", class: "aa-show-call-svg align-self-centeraa" %>&nbsp;&nbsp;&nbsp;
                        <%= link_to "Envoyer un Mail", "mailto:#{@user.email}", class: "aa-show-mailto align-self-centeraa" %>
                    <%# else %>
                      <%#= inline_svg "conversation.svg", class: "aa-show-call-svg aa-show-standard-svg" %>
                      <!--&nbsp;&nbsp;&nbsp;<a class="aa-show-mailto align-self-centeraa">Envoyer un Mail</a>-->
                  </div>
                </div>    
              <% end %>
              
              
            
          

              <% if @user.afficher_tel %>
                <div class="aa-show-detailuser-contact-tel">
                  <div class="aa-show-detailuser-contact-btn">
                      <%= inline_svg "contact.svg", class: "aa-show-call-svg aa-show-standard-svg align-self-centeraa" %>&nbsp;&nbsp;&nbsp;
                       <%= link_to "Contacter", "tel:#{@user.tel}", class: "aa-show-mailto align-self-centeraa" %>
                    <%# else %>
                      <%#= inline_svg "contact.svg", class: "aa-show-call-svg aa-show-standard-svg" %>
                      <!--&nbsp;&nbsp;&nbsp;<a class="aa-show-mailto align-self-centeraa">Contacter</a>-->
                  </div>
                </div>
              <% end %>
            <%# else %>
            <!--<div class="aa-show-detailuser-contact-tel">-->
            <!--  <div class="aa-show-detailuser-contact-btn">-->
            <!--  <a href="" class="nav-link aa-menu-link aa-menu-link-last" data-toggle="modal" data-target="#exampleModal">-->
            <!--    Enregistrez-vous pour contacter le membre-->
            <!--  </a>-->
            <!--  </div>-->
            <!--</div>-->
            <% end %>
          
          
        </div>
      </div>
      <div class="aa-me-descriptionuser-stats2">
        
            
            <% unless user_signed_in? %>
              <a href="" class="" data-toggle="modal" data-target="#exampleModal" style="padding-left: 0px !important; padding-top: 6px !important;">
                <p class="aa-show-share-title aa-show-share-title-hover">Enregistrez-vous pour contacter le membre</p>
              </a>
            <% end %>

         <% if @user.afficher_identite? %>
          <p>Identité : <br class="aa-me-brmobile"><b><%= "#{@user.surname} #{@user.lastname}" %></b></p>
        <% end %>
        <p>inscrit depuis: <br class="aa-me-brmobile"><b><%= @user.created_at.strftime("%d-%m-%Y") unless @user.created_at.nil?  %></b></p>
        <p>derniere connexion: <br class="aa-me-brmobile"> <b><%= @user.last_sign_in_at.strftime("%d-%m-%Y") unless @user.last_sign_in_at.nil? %></b></p>
        <p>nombre d'annonce: <br class="aa-me-brmobile"> <b><%= @user.annonces.count %></b></p>
        <% if @user.paysresidence? || @user.codepostal? || @user.villeresidence? %>
          <p>localisation:<br class="aa-me-brmobile"> 
            <b>
              <% unless @user.codepostal.nil? %>
                <%= "#{@user.codepostal} " %><br class="aa-me-brmobile">
              <% end %>
              <% unless @user.codepostal.nil? %>
                <%= "#{@user.villeresidence} " %><br class="aa-me-brmobile">
              <% end %>
              <% unless @user.codepostal.nil? %>
                <%= "#{@user.paysresidence}" %>
              <% end %>              
            </b>
          </p>
          <br>
        <% end %>
        <% if user_signed_in? %>
          <% if @user.instagram? %>
            <p>Instagram :<br class="aa-me-brmobile"> <%= link_to "@#{@user.instagram}", "https://www.instagram.com/#{@user.instagram}/", target: :_blank %></p>
          <% end %>
          <% if @user.facebook? %>
            <p>Facebook :<br class="aa-me-brmobile"> <%= link_to "#{@user.facebook}", "https://www.facebook.com/#{@user.facebook}/", target: :_blank %></p>
          <% end %>
          <% if @user.website? %>
            <p>Site Web :<br class="aa-me-brmobile"> <%= link_to "#{@user.website}", "http://#{@user.website.downcase}", target: :_blank %></p>
          <% end %>
        <% end %>  
      </div>
    </div>
  </div>
  <% unless @user.masquefavoris? %>
    <% unless @bmlist == [] %>
      <p class="text-center"><b>FAVORIS</b></p>
      <div class="aa-me-favoriuser">
        <% i = 0 %>
        <% @bmlist.each do |bml| %>
          <% if i < 5 %>
            <% unless Annonce.find(bml.id).archivedef %>
              <div class="aa-me-favoriuseritem">
                <%= link_to "/annonces/#{bml.slug}" do %>
                  <%= cl_image_tag Annonce.find(bml.id).photo.exifignore, class: "aa-me-favoriuser-image" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% i += 1 %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <style>
    .aa-search-annonce-container { margin-top : 0px; }
  </style>
  <% unless @user.masquepublication? %>
    <div class="aa-me-annonceuser">
      <p class="text-center"><b>ANNONCES MEMBRE</b></p>
      <div class="aa-search-annonce-container">
            <% if @user.annonces.joins(:user).where("users.confirmation_webmaster = true").where(envente_yesno: true).count > 0 %>
              <% @user.annonces.joins(:user).where("users.confirmation_webmaster = true").where(envente_yesno: true).each do |a| %>
              <% unless a.archivedef || a.archive %>  
                  <div class="aa-search-annonce-card">
                  <%= link_to showannonces_path(a.slug), class: "aa-search-annonce-card-image aa-show-user-pub" do %>
                    <!-- <div class="aa-search-annonce-card-image"> -->
                      <%= cl_image_tag a.photo.exifignore %>
                    <!-- </div> -->
                  <% end %>
                  <%= link_to showannonces_path(a.slug), class: "aa-search-annonce-card-detail" do %>
                  
                  
                  
                    <b><p class='aa-show-titre'><%= a.name %></p></b>
                    <p class="aa-show-detail-italic">
                    <% if a.nom_artiste? %>
                     <%= "#{a.nom_artiste} - "  %>
                    <% end %>
                    <% if a.anneecreation %>
                      <%= "#{a.anneecreation}" %>
                    <% end %>
                    </p>
                    <p class="aa-show-price  aa-show-detail-italic">
                      <% if a.prix?   %>
                        <% if (a.prix.to_i - a.prix) > 0 %>
                          <%= number_with_delimiter(a.prix.to_s, delimiter: " " ) %>€
                        <% else %>
                          <%= number_with_delimiter(a.prix.to_i.to_s, delimiter: " " ) %>€
                        <% end %>
                      <% end %>
                    </p>
                    
                    
                    
                    <p class="aa-p-description">
                     <%= a.description %>
                    </p>
                    
                  <% end %>
      
                    <div class="aa-search-annonce-card-control">
                    </div>
      
      
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <h1>Aucune annonce trouvee</h1>
            <% end %>
      </div>
    </div>
  <% end %>
  
  
 <% unless @user.annonces.where(archive: true).empty? || (@user.annonces.where(archive: true) - @user.annonces.where(archivedef: true)).empty? %> 
      <div class="aa-me-annonceuser">
      <p class="text-center"><b>ANNONCES ARCHIVEES</b></p>
      <div class="aa-search-annonce-container">
            <% if @user.annonces.joins(:user).where("users.confirmation_webmaster = true").where(archive: true).count > 0 %>
              <% @user.annonces.joins(:user).where("users.confirmation_webmaster = true").where(archive: true).each do |a| %>
              <% unless a.archivedef %>  
                  <div class="aa-search-annonce-card">
                  <%= link_to showannonces_path(a.slug), class: "aa-search-annonce-card-image aa-show-user-pub" do %>
                    <!-- <div class="aa-search-annonce-card-image"> -->
                      <%= cl_image_tag a.photo.exifignore %>
                    <!-- </div> -->
                  <% end %>
                  <%= link_to showannonces_path(a.slug), class: "aa-search-annonce-card-detail" do %>
                  
                  
                  
                    <b><p class='aa-show-titre'><%= a.name %></p></b>
                    <p class="aa-show-detail-italic">
                    <% if a.nom_artiste? %>
                     <%= "#{a.nom_artiste} - "  %>
                    <% end %>
                    <% if a.anneecreation %>
                      <%= "#{a.anneecreation}" %>
                    <% end %>
                    </p>
                    <p class="aa-show-price  aa-show-detail-italic">
                      <% if a.prix?   %>
                        <% if (a.prix.to_i - a.prix) > 0 %>
                          <%= number_with_delimiter(a.prix.to_s, delimiter: " " ) %>€
                        <% else %>
                          <%= number_with_delimiter(a.prix.to_i.to_s, delimiter: " " ) %>€
                        <% end %>
                      <% end %>
                    </p>
                    
                    
                    
                    <p class="aa-p-description">
                     <%= a.description %>
                    </p>
                    
                  <% end %>
      
                    <div class="aa-search-annonce-card-control">
                    </div>
      
      
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <h1>Aucune annonce trouvee</h1>
            <% end %>
      </div>
    </div>
<% end %>  
  
</div>
<% unless current_user.nil? %>
  <% if current_user.username == params[:username] %>
    <div class="aa-show-retour">
      <%#=link_to users_me_path( :view_param => "annonce") do %> 
      <%=link_to users_mesannonces_path do %>
        <%= inline_svg "home.svg", class: "aa-show-retour-svg" %>&nbsp;&nbsp;&nbsp;<span>Retour Profil</span>
      <% end %>
    </div>
  <% end %>
<% end %>  