<% if @user.photofond? %>
      <div class="aa-me-show-fondprofilcontainer" style="background-image: url('<%= "#{@user.photofond.url}" %>')  ;"></div>
<% else %>
      <div class="aa-me-show-fondprofilcontainer" style="background-color: black  ;"></div>
<% end %>
<div class="aa-me-container2">
  <div class="aa-me-descriptionuser">
    <div class="aa-me-descriptionuser-top">
      <div class="aa-me-descriptionuser-portrait">
        <div class="aa-me-descriptionuser-portraitfond">
          <% if @user.photoprofil? %>
            <%= cl_image_tag @user.photoprofil, class: "aa-me-show-portraitphoto" %>
          <% else %>
            <%= inline_svg "profil.svg", class: "aa-me-show-portraitphoto aa-me-show-profilblank" %>
          <% end %>
        </div>
      </div>
      <div class="aa-me-descriptionuser-caracteristiques">
        
          <% if @user.afficher_identite %>
            <%= link_to "#{@user.surname} #{@user.lastname}", "/users/#{@user.id}", class: "aa-show-user-link"  %>
          <% else %>
            <% if @user.username %>
              <%= link_to "#{@user.username}", "/users/#{@user.id}", class: "aa-show-user-link"  %>
              <% else %>
                <%= link_to "Profil Auteur", "/users/#{@user.id}", class: "aa-show-user-link"  %>
              <% end %>
            <% end %>
            <% if @user.statut %>
              <div class="aa-show-contact-profil-statut"><%= @user.statut %></div>
            <% end %>
          <div class="aa-show-contact-profil-nbannonces"><%= @user.annonces.count %> annonces en ligne</div>
              
        <% if user_signed_in? %>
          <% if current_user.followees.include?(@user) %>
            <div class="aa-show-detailuser-followbtn"><%= link_to "SUIVRE", unfollow_annonce_path(@user), method: :put, class: "aa-show-suivre-link" %> <%= inline_svg "enlever.svg", class: "aa-show-follow-svg" %></div>
          <% else %>
            <div class="aa-show-detailuser-followbtn"><%= link_to "SUIVRE", follow_annonce_path(@user), method: :put, class: "aa-show-suivre-link" %> <%= inline_svg "ajouter.svg", class: "aa-show-follow-svg" %></div>
          <% end %>
        <% end %>
        
        
      </div>
      <div class="aa-me-descriptionuser-stats">PLEIN DE STATS</div>
    </div>
    <div class="aa-me-descriptionuser-bottom">
      <div class="aa-me-descriptionuser-descr">
        <% if @user.description %>
          <%= "#{@user.description}" %>
        <% end %>
      </div>
      <div class="aa-me-descriptionuser-stats2">ENCORE PLUS DE STATS</div>
    </div>
  </div>
  
  <p class="text-center">FAVORI</p>
  <div class="aa-me-favoriuser">
    
  </div>
  
  
  
  <div class="aa-me-annonceuser">
    <p class="text-center">ANNONCE MEMBRE</p>
    <div class="aa-search-annonce-container">
          <% if @user.annonces.count > 0 %>
            <% @user.annonces.each do |a| %>
    
                <div class="aa-search-annonce-card">
                <%= link_to a, class: "aa-search-annonce-card-image" do %>
                  <!-- <div class="aa-search-annonce-card-image"> -->
                    <%= cl_image_tag a.photo %>
                  <!-- </div> -->
                <% end %>
                <%= link_to a, class: "aa-search-annonce-card-detail" do %>
                  <p class="aa-annonce-titre-search"><%= a.name.lines.first[0,30] %></p>
                  <p class="aa-annonce-prix-search"><%= a.prix %><%= "€" unless a.prix.nil? %></p>
                  <p class="aa-annonce-description-search"><!-- < a.description.lines.first[0,30] > -->
                   <%= a.description %>
                  </p>
                <% end %>
    
                  <div class="aa-search-annonce-card-control">
                  </div>
    
    
                </div>
    
            <% end %>
          <% else %>
            <h1>Aucune annonce trouvee</h1>
          <% end %>
    </div>
  </div>
</div>      