<!-- < link_to "Liste Users", users_path > -->
<!-- <br>
< @user.email >
<br>
< @user.annonces.each do |a| >
<p>< link_to a.name, "/annonces/#{a.id}" >
< a.description ></p>
< end > -->
<div class="aa-me-container-top aa-user-show-bg"> 
  <div class="aa-me-annonce-container aa-me-container-top">
    <% if @user.photofond? %>
      <div class="aa-me-show-fondprofil" style="background-image: url('<%= "#{@user.photofond.url}" %>')  ;">
    <% else %>
      <div class="aa-me-show-fondprofil" style="background-color: black  ;">
    <% end %>
      
      <div class="aa-me-show-details">
        <div class="aa-me-show-profil">
          
          <% if @user.photoprofil? %>
            <%= cl_image_tag @user.photoprofil, class: "aa-me-show-profilphoto" %>
          <% else %>
            <%= inline_svg "profil.svg", class: "aa-me-show-profilphoto aa-me-show-profilblank" %>
          <% end %>
        </div>
        <div class="aa-me-show-details-encart">
            <% if @user.afficher_identite %>
              <p><%= "#{@user.surname} #{@user.lastname}" %></p>
            <% end %>
            <% if @user.afficher_tel %>
              <p><%= "#{@user.tel}" %></p>
            <% end %>
            <% if @user.afficher_email %>
              <%=  "#{@user.email}" %>
            <% else %>
              <%= "User_#{@user.created_at.to_i}" %>
            <% end %>
            <% if (@user.villeresidence? & @user.paysresidence?) %>
            <p><%= "#{@user.villeresidence} \/ #{@user.paysresidence}" %></p>
            <% end %>
            
        </div>
      </div>
      <div class="aa-me-show-details-userlike">
        <% unless @user.get_likes == [] %>
          Like:<%= " #{@user.get_likes.count}" %>
        <% end %>
      </div>
    </div>
    
    <div class="aa-me-show-details-secondaires">
      
      
     <% if @user.description? %> 
        <div class="aa-me-show-details-description">
          <div class="aa-me-show-entete"><%= inline_svg "aide.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Description:</p></div>
          <p class="aa-ilotprofil-corpus"><%=  "#{@user.description}" %></p>
        </div>
      <% end %>
      
      <div class="aa-me-show-details-rsociaux">
        <div class="aa-me-show-entete"><%= inline_svg "visibilite.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Reseaux Sociaux:</p></div>
        <div class="aa-ilotprofil-corpus">
          <p>Instagram</p>
          <p>Facebook</p>
          <p>Twitter</p>
          <p>Pinterest</p>
          <p>Etc</p>
        </div>
      </div>
      
      <div class="aa-me-show-details-fav">
        <div class="aa-me-show-entete"><%= inline_svg "pin.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Favoris:</p></div>
        <br>
        <div class="aa-ilotprofil-corpus">
          <% @user.bookmarkees_by(Annonce).each do |a| %>
            <% favannonce = Annonce.find(a.bookmarkee_id) %>
             <%= link_to "#{favannonce.name}", "/annonces/#{favannonce.id}" ,class: "aa-me-annonce-fav" %>
            <br>
          <% end %>
        </div>
      </div>
      
      <div class="aa-me-show-details-follow">
        <div>
          <div class="aa-me-show-entete"><%= inline_svg "nav-ouvrir.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Suivi Par:</p></div>
        </div>
        <div class="aa-ilotprofil-corpus">
          <% @user.followers.each do |u| %>
            <%= u.email %>
          <% end %>
        </div>
        <div>
          <div class="aa-me-show-entete"><%= inline_svg "nav-fermer.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Suit:</p></div>
          <div class="aa-ilotprofil-corpus">
            <% @user.followees.each do |u| %>
              <%= u.email %>
            <% end %>
          </div>
        </div> 
      </div>
      
      <div class="aa-me-show-details-like">
        <div class="aa-me-show-details-likeannonce">
          <div class="aa-me-show-entete"><%= inline_svg "like.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Annonces Likes:</p></div>
        </div>
      
        <div class="aa-me-show-details-likeuser">
          <div class="aa-me-show-entete"><%= inline_svg "like-plein.svg", class: "aa-me-show-minisvg" %><p class="aa-ilotprofil-show">Like User:</p></div>
          <p class="aa-ilotprofil-corpus"><%= @user.get_likes.size %> personnes aiment cet user!</p>
        </div>
      </div>
      
    </div>
    
    <div class="aa-search-annonce-container">
          <% if @user.annonces.count > 0 %>
            <% @user.annonces.each do |a| %>
    
                <div class="aa-search-annonce-card">
                <%= link_to a, class: "aa-search-annonce-card-image" do %>
                  <!-- <div class="aa-search-annonce-card-image"> -->
                    <%= cl_image_tag a.photo %>
                  <!-- </div> -->
                <% end %>
                <%= link_to a, class: "aa-search-annonce-card-detail" do %>
                  <p class="aa-annonce-titre-search"><%= a.name.lines.first[0,30] %></p>
                  <p class="aa-annonce-prix-search"><%= a.prix %><%= "€" unless a.prix.nil? %></p>
                  <p class="aa-annonce-description-search"><!-- < a.description.lines.first[0,30] > -->
                   <%= a.description %>
                  </p>
                <% end %>
    
                  <div class="aa-search-annonce-card-control">
                  </div>
    
    
                </div>
    
            <% end %>
          <% else %>
            <h1>Aucune annonce trouvee</h1>
          <% end %>
    </div>
  
  </div>
  
  </div>

</div>


