

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar-lewagon">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to "#", class: "navbar-buffer" do %>
  <% end %>
  <%= link_to '/', class: "navbar-brand" do %>
   <%= inline_svg 'artaetas_noir_short', class: "aa-navbar-artaetas" %>
  <!--  < image_tag "artaetas_noir_seul.svg", class: "centered-img"> -->
    <%= inline_svg "artaetas_baseline_short.svg", class: "aa-navbar-hres" %>
  <% end %>

  <%= link_to "#", class: "navbar-item d-sm-none navbar-loupe", id: "mobilesearch" do %>
   <%= svg 'recherche' %>
  <% end %>

<% if user_signed_in? %>
  <div class="nav-item dropdown nav-flex-14">
          <%= image_tag "http://lorempixel.com/25/25/cats/", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon Profil", "/users/me", class: "dropdown-item" %>
            <!-- < link_to "Liste user", "/users/", class: "dropdown-item" > -->
            <!-- < link_to "Edit Profile", edit_user_registration_path , class: "dropdown-item" > -->
            <%= link_to "Se Deconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
    </div>
<% else %>
  <!-- < link_to "", class: "navbar-item d-sm-none navbar-tiers" do > -->
    <a href="" class="navbar-item d-sm-none navbar-tiers" data-toggle="modal" data-target="#exampleModal">
    <%= svg 'tiers' %>
    </a>
  <!-- < end > -->
<% end %>



  <div class="collapse navbar-collapse aa-menu-navcontainer" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item aa-nav-item">
          <a href="#" class="nav-link aa-menu-link"></a>
        </li>
        <li class="nav-item aa-nav-item">
          <%= svg 'aide' %>
          <%= link_to "Découvrir Artaetas", "/annonces", class: "nav-link aa-menu-link" %>
        </li>
        <li class="nav-item aa-nav-item">
          <%= svg 'recherche' %>
          <%= link_to "Rechercher", "/searchannonce", class: "nav-link aa-menu-link" %>
        </li>
        <li class="nav-item aa-nav-item">
          <%= svg 'archiver2' %>
          <%= link_to "Déposer", "/annonces/new", class: "nav-link aa-menu-link" %>
        </li>
      <% else %>
        <li class="nav-item aa-nav-item">
          <a href="#" class="nav-link aa-menu-link"></a>
        </li>
        <li class="nav-item aa-nav-item">
          <%= svg 'aide' %>
          <%= link_to "Découvrir Artaetas", "/annonces", class: "nav-link aa-menu-link" %>
        </li>
        <li class="nav-item aa-nav-item">
          <%= svg 'recherche' %>
          <%= link_to "Rechercher", "/searchannonce", class: "nav-link aa-menu-link" %>
        </li>
        <li class="nav-item aa-nav-item">
          <!-- < link_to "Se Connecter", new_user_session_path, class: "nav-link" > -->
          <!-- Button trigger modal -->
          <%= svg 'tiers' %>
          <a href="" class="nav-link aa-menu-link aa-menu-link-last" data-toggle="modal" data-target="#exampleModal">
              S'inscrire/se connecter
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% unless user_signed_in? %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px">
            <span aria-hidden="true">&times;</span>
          </button>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
        </div>
        <div class="modal-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">

              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" }
                           %>
              <%= f.label :password, "Mot de passe" %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          label: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-primary aa-signin-btn" %>
            </div>
          <% end %>


        </div>
        <div class="modal-footer">
        <h5 class="text-center">Pas de compte ?</h5>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= simple_form_for(resource, as: resource_name, url: new_registration_path(resource_name), method: :get) do |f| %>
            <%= f.button :submit, "Creer un compte", class: "btn btn-secondary aa-signin-btn" %>
          <% end %>
          <!-- < link_to "Creer un compte", new_registration_path(resource_name) > -->
        <% end %>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
<% end %>
