<div class="aa-me-undernavbar" style="height: 100px;"></div>
<!--<img src="<%#= asset_path("don.jpg") %>" style="position: absolute; opacity: 0.4; top: 72px; left: 274px;" />-->
<div class="contribution-margin-form">
    <%#= simple_form_for(@annonce, :url => orders_donate_path, :method => post ) do |f| %>
       <%#= f.input :montant, label: "Quel montant voulait vous donner ?" %>
       <%#= f.submit 'Confirmer', class: 'btn btn-primary aa-mobile-btn aa-new-publierannonce' %>
    <%# end %>
    
    <%= form_tag orders_donate_path, style: "text-align: center;" do %>
        <%= hidden_field_tag 'annonce_id', @annonce.id %>
        <!--<p style="height: 33px; padding-top: 6px;"></p>-->
        <h4 style="height: 33px; padding-top: 6px; font-weight: bold; color:  #3A89C1; margin-bottom: 24px; margin-top: 40px;">Bienvenue sur le module de donation !</h4>
        <br>
        <p class="don-p-1">Nous croyons dans la bienveillance et la solidarité.</p>
        <p class="don-p-2">ARTAETAS soutient ses membres, artistes, collectionneurs et acteurs du marché de l'art en leur proposant un service de qualité sans contrepartie.</p>
        <p class="don-p-3">En particulier, nous sommes convaincus que notre plateforme permet et permettra à de nombreux artistes de vivre de leur art.</p>
        <br>
        <p class="don-p-4">Vous avez la possibilité d’aider ARTAETAS dans la réalisation de sa mission en versant une donation à la plateforme. </p>
        <p class="don-p-5">Nous nous engageons à dédier 100% de cette donation au budget développement du site. Cela permettra de proposer de nouveaux services pour les membres de la plateforme.</p>
        <br>
        <h5 style="height: 33px; padding-top: 6px; font-weight: bold; color:  #3A89C1; margin-bottom: 18px; ">Merci d’avance pour votre générosité :)</h5>
        <br>
        
        <!--<p><label class="form-control-label select optional" for="Montant">Quel Montant souhaitez vous donner ?</label></p>-->
        <h5 style="height: 27px; font-weight: bold; color:  #3A89C1; margin-bottom: 0px; margin-top: 7px;">Je décide de verser une donation de </h5>  
            <%= number_field_tag 'montant', "0", min: 0, class: "aa-don-width" %> <b style="font-size: 30px; top: 5px; position: relative; color:  #3A89C1;">€</b>
        <h5 class="don-h5-end">à destination du budget développement de la plateforme ARTAETAS.</h5>
        <br>
        <%= submit_tag 'Verser ma donation', class: 'btn btn-primary aa-mobile-btn aa-new-publierannonce' %>
    <% end %>
    <!--<form class="simple_form edit_annonce" id="edit_annonce_8" novalidate="novalidate" action="/annonces/8/update_archive" accept-charset="UTF-8" method="post">-->
    <!--    <input type="hidden" name="_method" value="patch">-->
    <!--    <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->
    <!--    <input name="annonce[archive]" type="hidden" value="0">-->
    <!--    <input class="form-check-input boolean optional aa-archive-mainquestion" type="checkbox" value="1" name="annonce[archive]" id="annonce_archive">-->
    <!--    <label class="form-check-label boolean optional" for="annonce_archive">Archiver cette annonce?</label>-->
    <!--    <br>-->
    <!--    <div class="aa-archive-don">-->
    <!--        <input name="annonce[faire_un_don]" type="hidden" value="0">-->
    <!--        <input label="false" type="checkbox" value="1" name="annonce[faire_un_don]" id="annonce_faire_un_don">-->
    <!--        <label class="form-check-label boolean optional" for="annonce_archive">Faire un don?</label>-->
    <!--    </div>-->
    <!--    <input type="submit" name="commit" value="Confirmer" class="btn btn-primary aa-mobile-btn aa-new-publierannonce" data-disable-with="Confirmer">-->
        
        
        <!--<input name="utf8" type="hidden" value="✓">-->
        <!--<input type="hidden" name="_method" value="patch">-->
        <!--<input type="hidden" name="authenticity_token" value="W5zKIgsHqZt+a7/0XQJRZnsw9mKoOAwkR+/L5Bk1SHJwez8BaCepCnPcbvGlXtnRbkM0tZNiJoMbHxMOi53QFA==">-->
        <!--<fieldset class="form-group boolean optional annonce_archive">-->
        <!--    <div class="form-check"><input name="annonce[archive]" type="hidden" value="0">-->
        <!--        <input class="form-check-input boolean optional aa-archive-mainquestion" type="checkbox" value="1" name="annonce[archive]" id="annonce_archive">-->
        <!--        <label class="form-check-label boolean optional" for="annonce_archive">Archiver cette annonce?</label>-->
        <!--    </div>-->
        <!--</fieldset>-->
        <!--<div class="aa-archive-don">-->
        <!--    <fieldset class="form-group boolean optional annonce_faire_un_don">-->
        <!--        <div class="form-check">-->
        <!--            <input name="annonce[faire_un_don]" type="hidden" value="0"><input label="false" type="checkbox" value="1" name="annonce[faire_un_don]" id="annonce_faire_un_don">-->
        <!--            <label class="form-check-label boolean optional" for="annonce_archive">Faire un don?</label>-->
        <!--        </div>-->
        <!--    </fieldset>-->
        <!--</div>-->
        <!--<input type="submit" name="commit" value="Confirmer" class="btn btn-primary aa-mobile-btn aa-new-publierannonce" data-disable-with="Confirmer">-->
        
        
    <!--</form>-->
</div>
<% unless current_user.nil? %>
  <%# if current_user.username == params[:username] %>
    <div class="aa-show-retour">
      <%#=link_to users_me_path( :view_param => "annonce") do %> 
      <%=link_to users_mesannonces_path do %>
        <%= inline_svg "home.svg", class: "aa-show-retour-svg" %>&nbsp;&nbsp;&nbsp;<span>Retour Profil</span>
      <% end %>
    </div>
  <%# end %>
<% end %>  