<p>Bonjour <%= @user_annonce.username %></p>
<br>
<p>L'utilisateur <%= @intercedant.username %> souhaite vous joindre a propos de l'annonce <%= @annonce.name %></p>
<p>sa demande etant <%= @corps %></p>

<p>vous pouvez le contacter a l'addresse suivante : <%= @intercedant.email %></p>