<p>Bonjour <%= @user_annonce.username %></p>
<br>
<p>L'utilisateur <%= @intercedant.username %> souhaite vous joindre à propos de l'annonce <%= @annonce.name %></p>
<p>sa demande étant: </p>
<br>
<p style="color: #3a89c1"><%= @corps %></p>
<br>
<p>Vous pouvez le contacter à l'adresse suivante : <%= @intercedant.email %></p>