<p>Bonjour <%= @user_annonce.username %></p>
<br>
<p>L'utilisateur <%= @intercedant.username %> souhaite vous joindre a propos de l'annonce <%= @annonce.name %></p>
<p>sa demande etant: </p>
<br>
<p style="color: #3a89c1"><%= @corps %></p>
<br>
<p>vous pouvez le contacter a l'addresse suivante : <%= @intercedant.email %></p>