<div class="aa-me-undernavbar" style="height: 100px;"></div>
<!--<img src="<%#= asset_path("contrib.jpg") %>" style="position: absolute; opacity: 0.4; top: 64px; left: 197px;" />-->
<div class="contribution-margin-form">
    <%#= simple_form_for(@annonce, :url => orders_donate_path, :method => post ) do |f| %>
       <%#= f.input :montant, label: "Quel montant voulait vous donner ?" %>
       <%#= f.submit 'Confirmer', class: 'btn btn-primary aa-mobile-btn aa-new-publierannonce' %>
    <%# end %>
    
    <%= form_tag orders_donate_path, style: "text-align: center;" do %>
        <%= hidden_field_tag 'annonce_id', @annonce.id %>
        <h4 class="contribution-h4-titre">Félicitations pour votre vente !</h4>
        <p class="contribution-p-1">Nous sommes fiers d’avoir participé à cette transaction. C’est un pas de plus vers la réalisation de notre mission. </p>
        <br>
        <p class="contribution-p-2">Aidez nous à renforcer notre soutien aux artistes grâce à une contribution volontaire du montant de votre choix.</p>
        <p class="contribution-p-3">100% de cette contribution sera réinvestie dans le budget publicitaire de la plateforme. Cela renforcera le flux d’acheteurs potentiels.</p>
        <br>
        <!--<p><label class="form-control-label select optional" for="Montant">Quel Montant souhaitez vous donner ?</label></p>-->
        <h5 style="height: 27px; font-weight: bold; color:  #3A89C1; margin-bottom: 0px; margin-top: 7px;">Je décide de verser une contribution de</h5>  
            <%= number_field_tag 'montant', "0", min: 0, class: "aa-don-width" %> <b style="font-size: 30px; top: 5px; position: relative; color:  #3A89C1;">€</b>
        <h5 style="height: 33px;  font-weight: bold; margin-top: 15px;  color: #3A89C1; margin-bottom: 23px;">à destination du budget publicitaire de la plateforme ARTAETAS.</h5>
        <br>
        <%= submit_tag 'Verser ma contribution', class: 'btn btn-primary aa-mobile-btn aa-new-publierannonce' %>
    <% end %>
    <!--<form class="simple_form edit_annonce" id="edit_annonce_8" novalidate="novalidate" action="/annonces/8/update_archive" accept-charset="UTF-8" method="post">-->
    <!--    <input type="hidden" name="_method" value="patch">-->
    <!--    <input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->
    <!--    <input name="annonce[archive]" type="hidden" value="0">-->
    <!--    <input class="form-check-input boolean optional aa-archive-mainquestion" type="checkbox" value="1" name="annonce[archive]" id="annonce_archive">-->
    <!--    <label class="form-check-label boolean optional" for="annonce_archive">Archiver cette annonce?</label>-->
    <!--    <br>-->
    <!--    <div class="aa-archive-don">-->
    <!--        <input name="annonce[faire_un_don]" type="hidden" value="0">-->
    <!--        <input label="false" type="checkbox" value="1" name="annonce[faire_un_don]" id="annonce_faire_un_don">-->
    <!--        <label class="form-check-label boolean optional" for="annonce_archive">Faire un don?</label>-->
    <!--    </div>-->
    <!--    <input type="submit" name="commit" value="Confirmer" class="btn btn-primary aa-mobile-btn aa-new-publierannonce" data-disable-with="Confirmer">-->
        
        
        <!--<input name="utf8" type="hidden" value="✓">-->
        <!--<input type="hidden" name="_method" value="patch">-->
        <!--<input type="hidden" name="authenticity_token" value="W5zKIgsHqZt+a7/0XQJRZnsw9mKoOAwkR+/L5Bk1SHJwez8BaCepCnPcbvGlXtnRbkM0tZNiJoMbHxMOi53QFA==">-->
        <!--<fieldset class="form-group boolean optional annonce_archive">-->
        <!--    <div class="form-check"><input name="annonce[archive]" type="hidden" value="0">-->
        <!--        <input class="form-check-input boolean optional aa-archive-mainquestion" type="checkbox" value="1" name="annonce[archive]" id="annonce_archive">-->
        <!--        <label class="form-check-label boolean optional" for="annonce_archive">Archiver cette annonce?</label>-->
        <!--    </div>-->
        <!--</fieldset>-->
        <!--<div class="aa-archive-don">-->
        <!--    <fieldset class="form-group boolean optional annonce_faire_un_don">-->
        <!--        <div class="form-check">-->
        <!--            <input name="annonce[faire_un_don]" type="hidden" value="0"><input label="false" type="checkbox" value="1" name="annonce[faire_un_don]" id="annonce_faire_un_don">-->
        <!--            <label class="form-check-label boolean optional" for="annonce_archive">Faire un don?</label>-->
        <!--        </div>-->
        <!--    </fieldset>-->
        <!--</div>-->
        <!--<input type="submit" name="commit" value="Confirmer" class="btn btn-primary aa-mobile-btn aa-new-publierannonce" data-disable-with="Confirmer">-->
        
        
    <!--</form>-->
</div>
<% unless current_user.nil? %>
  <%# if current_user.username == params[:username] %>
    <div class="aa-show-retour">
      <%#=link_to users_me_path( :view_param => "annonce") do %> 
      <%=link_to users_mesannonces_path do %>
        <%= inline_svg "home.svg", class: "aa-show-retour-svg" %>&nbsp;&nbsp;&nbsp;<span>Retour Profil</span>
      <% end %>
    </div>
  <%# end %>
<% end %>  