<div style="margin-top: 55px;"></div>
<div style="margin-left: 20%; margin-right: 20%;">
    <%#= simple_form_for @annonce, :url => update_formule_annonce_path do |f| %>
        <%#= f.input :formule, hint: "statut de votre annonce", :collection => ["Mise en Avant","Mise a la une", "Standard"], require: false %>
        <%#= f.submit "Modifier l'annonce", class: "btn btn-primary aa-mobile-btn aa-new-publierannonce" %>
    <%# end %>
<br>
<br>
<h4>Mise à la une :</h4>

<p>Meilleure visibilité sur <u>l’accueil</u> et les pages de recherche</p>
<p>Apparition dans les premières annonces</p>
<p>Fréquence d’apparition renforcée</p>

<br>
<h4>Mise en avant :</h4>

<p>Meilleure visibilité sur <u>les pages de recherche</u></p>
<p>Apparition dans les premières annonces</p>
<p>Fréquence d’apparition renforcée</p>
<br><br>
<p><b>Les emplacements dédiés aux Mise à la une et Mise en avant sont limités.</b></p>
<p>Emplacements actuellement disponibles : </p>
<p>-pour les Mise à la une, <b><%= @limmaxmalu-@countmalu %>/<%= @limmaxmalu %></b></p>
<p>-pour les Mise en avant, <b><%= @limmaxmea-@countmea %>/<%= @limmaxmea %></b></p>


    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'annonce_id', @annonce.id %>
      <div class="form-group select optional annonce_formule form-group-valid">
        <label class="form-control-label select optional" for="premium_formule"></label>
        
    <% if (@limmaxmea > @countmea && @limmaxmalu > @countmalu) %>
      <%= select_tag 'premium_formule', options_for_select(["Mise a la une","Mise en Avant"]), class: "form-control is-valid select optional" %>
    <% else %>
      <% if @limmaxmea > @countmea %>
          <%= select_tag 'premium_formule', options_for_select(["Mise en Avant"]), class: "form-control is-valid select optional" %>
      <% else %>
          <% if @limmaxmalu > @countmalu %>
              <%= select_tag 'premium_formule', options_for_select(["Mise a la une"]), class: "form-control is-valid select optional" %>
          <% else %>
              <p>Les Quotats sont atteint il n'est pas possible pour le moment d'acheter une option Malu ou Mea</p>
          <% end %>
      <% end %>
    <% end %>
      <%# <small class="form-text text-muted">statut de votre annonce</small> %>
      </div>
      <% unless (@countmea >= @limmaxmea  && @countmalu >= @limmaxmalu) %>
          <%= submit_tag 'Souscrire', class: 'btn btn-primary aa-mobile-btn aa-new-publierannonce' %>
      <% end %>
    <% end %>
    
    <%#= simple_form orders_path do |f| %>
        <%#= f.input 'annonce_id', :as => :hidden, :input_html => { :value => @annonce.id } %>
        <%#= f.input 'premium_formule', hint: "statut de votre annonce", :collection => ["Mise en Avant","Mise a la une"], require: false %>
        <%#= f.submit "Souscrire", class: "btn btn-primary aa-mobile-btn aa-new-publierannonce" %>
    <%# end %>
    
</div>
<% unless current_user.nil? %>
    <div class="aa-show-retour">
      <%#=link_to users_me_path( :view_param => "annonce") do %> 
      <%=link_to users_mesannonces_path do %>
        <%= inline_svg "home.svg", class: "aa-show-retour-svg" %>&nbsp;&nbsp;&nbsp;<span>Retour Profil</span>
      <% end %>
    </div>
<% end %>  