<div class="aa-new-bg">
  <div class="aa-new-container">
    <%= simple_form_for(@annonce) do |f| %>
    <div class="aa-new-accroche"></div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Votre Annonce</div>
      <div class="aa-new-vafield">
        <!-- [...] -->
        <%= f.input :name, label: "Nom de l'oeuvre", hint: "max 70 caracteres dans l'index"  %>
        <%= f.input :description, hint: "Seul 70 caracteres de la premiere ligne apparaissent dans l'index" %>
        <%= f.input :prix, placeholder: "€" %>
        <%= f.input :anneecreation, label: "Année de création" %>
        <%= f.input :nom_artiste, label: "Nom de l'artiste" %>
        
        <!-- [...] -->
        
        <div class="aa-new-photo-field">
          <div class="aa-new-photo-field-indivi">
            <%= f.input :photo, :input_html => { :onchange => "document.getElementById('previewPhoto').src = window.URL.createObjectURL(this.files[0])", class: 'hide-photo-btn' } %>
            <% if @annonce.photo? %>
              <%= cl_image_tag @annonce.photo, class: "aa-edit-thumbnail", id: "previewPhoto" %>
            <% else %>
              <img class="aa-edit-thumbnail" id="previewPhoto"></img>
            <% end %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="aa-new-photo-field-indivi">
            <%= link_to destroy_photo_un_annonce_path(@annonce), method: :put,  :onclick => "document.getElementById('previewPhotoUn').src ='https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png'" do %>
              <%= inline_svg "supprimer.svg", class: "aa-show-standard-svg aa-show-topright aa-edit-suppr" %>
            <% end %>
            <%= f.input :photo_un, :input_html => { :onchange => "document.getElementById('previewPhotoUn').src = window.URL.createObjectURL(this.files[0])", class: 'hide-photo-btn' }  %>
            <% if @annonce.photo_un? %>
              <%= cl_image_tag @annonce.photo_un, class: "aa-edit-thumbnail", id: "previewPhotoUn" %>
            <% else %>
              <img class="aa-edit-thumbnail" id="previewPhotoUn" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"></img>
            <% end %>
            <%= f.input :photo_un_cache, as: :hidden %>
          </div>
          <div class="aa-new-photo-field-indivi">
            <%= link_to destroy_photo_deux_annonce_path(@annonce), method: :put,  :onclick => "document.getElementById('previewPhotoDeux').src ='https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png'" do %>
              <%= inline_svg "supprimer.svg", class: "aa-show-standard-svg aa-show-topright aa-edit-suppr" %>
            <% end %>
            <%= f.input :photo_deux, :input_html => { :onchange => "document.getElementById('previewPhotoDeux').src = window.URL.createObjectURL(this.files[0])", class: 'hide-photo-btn' }  %>
            <% if @annonce.photo_deux? %>
              <%= cl_image_tag @annonce.photo_deux, class: "aa-edit-thumbnail", id: "previewPhotoDeux" %>
            <% else %>
              <img class="aa-edit-thumbnail" id="previewPhotoDeux" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"></img>
            <% end %>

            <%= f.input :photo_deux_cache, as: :hidden %>
          </div>
        </div>
        
        
        <%# f.input :photo, :input_html => { :onchange => "document.getElementById('previewPhoto').src = window.URL.createObjectURL(this.files[0])" } %>
        <!-- <img class="aa-edit-thumbnail" id="previewPhoto"></img> -->
        <%#= cl_image_tag @annonce.photo, class: 'aa-edit-thumbnail' , id: "previewPhoto" %>
        <%#= f.input :photo_cache, as: :hidden %>
        <%#= f.input :photo_un, :input_html => { :onchange => "document.getElementById('previewPhotoUn').src = window.URL.createObjectURL(this.files[0])" }  %>
        <!-- <img class="aa-edit-thumbnail" id="previewPhotoUn"></img> -->
        <%#= cl_image_tag @annonce.photo_un, class: 'aa-edit-thumbnail' , id: "previewPhotoUn" %>
        <%#= f.input :photo_un_cache, as: :hidden %>
        <%#= f.input :photo_deux, :input_html => { :onchange => "document.getElementById('previewPhotoDeux').src = window.URL.createObjectURL(this.files[0])" }  %>
        <%#= cl_image_tag @annonce.photo_deux, class: 'aa-edit-thumbnail' , id: "previewPhotoDeux" %>
        <!-- <img class="aa-edit-thumbnail" id="previewPhotoDeux"></img> -->
        <%#= f.input :photo_deux_cache, as: :hidden %>
        
        
        <!-- [...] -->
      </div>
    </div>
    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Vos Tags</div>
      <div class="aa-new-vafield">
        <p class="aa-new-label">Categories</p>
      
         <%= f.select :cat_ids, options_for_select(Categorie.all.collect {|u| [u.name, u.id]}, @categories), {:include_blank => false}, {:multiple => true, :class => 'multiple-dd form-group'}  %>
        <%# for categorie in Categorie.all %>
          <%# if @categories.include?(categorie.id) %>
            <!--<label>-->
            <%#= check_box_tag "annonce[categorie_ids][]", categorie.id, true %>
            <%#=h categorie.name %>
            <!--</label><br />-->
          <%# else %>
            <%#= check_box_tag "annonce[categorie_ids][]", categorie.id%>
            <%#=h categorie.name %>
            <!--</label><br />-->
          <%# end %>
         <%# end %>

        <p class="aa-new-label">Courants</p>
        <%= f.select :courant_ids , options_for_select(Courant.all.collect {|u| [u.name, u.id]}, @courants), {:include_blank => false}, {:multiple => true, :class => 'multiple-dd2 form-group'}  %>
        <%# for courant in Courant.all %>
          <%# if @courants.include?(courant.id) %>
            <!--<label>-->
            <%#= check_box_tag "annonce[courant_ids][]", courant.id, true %>
            <%#=h courant.name %>
            <!--</label><br />-->
          <%# else %>
            <!--<label>-->
            <%#= check_box_tag "annonce[courant_ids][]", courant.id %>
            <%#=h courant.name %>
            <!--</label><br />-->
          <%# end %>
        <%# end %>

        <!--<p class="aa-new-label">Couleurs</p>-->
        <%# for couleur in Couleur.all %>
          <%# if @couleurs.include?(couleur.id) %>
            <!--<label>-->
            <%#= check_box_tag "annonce[couleur_ids][]", couleur.id, true %>
            <%#=h couleur.couleur_dominante %>
            <!--</label><br />-->
          <%# else %>
            <!--<label>-->
            <%#= check_box_tag "annonce[couleur_ids][]", couleur.id %>
            <%#=h couleur.couleur_dominante %>
            <!--</label><br />-->
          <%# end %>
        <%# end %>
        <p class="aa-new-label">Couleurs</p>
        <%= f.select :couleur_ids , options_for_select(Couleur.all.collect {|u| [u.couleur_dominante, u.id]}, @couleurs), {:include_blank => false}, {:multiple => true, :size =>10, :class => 'multiple-dd3 form-group'}  %>

      </div>
    </div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Critères</div>
      <div class="aa-new-vafield">
      <%= f.input :disposition, label: "Disposition de l'oeuvre", :collection => ["Portrait","Paysage", "Carre"]%>
      <%= f.input :hauteur, placeholder: "cm",  input_html: { class: 'aa-textalignright' } %>
      <%= f.input :largeur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :profondeur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :oeuvre_limite, label: "Tirage", :collection => ["Oeuvre Unique","Oeuvre Limite", "Oeuvre Illimite"]%>
      <%= f.input :certificat_authenticite, label: "Certificat d'authenticité", input_html: { class: 'aa-new-hide-chkbox' }, label_html: { class: "aa-new-label-chkbox aa-new-label-chkbox-first" } %>
      <%= f.input :facture_achat, label: "Facture d'achat de l'oeuvre", input_html: { class: 'aa-new-hide-chkbox' }, label_html: { class: "aa-new-label-chkbox" } %>
      <%= f.input :encadrement , input_html: { class: 'aa-new-hide-chkbox' }, label_html: { class: "aa-new-label-chkbox" } %>
      <%= f.input :etat_neuf , input_html: { class: 'aa-new-hide-chkbox' }, label_html: { class: "aa-new-label-chkbox" } %>
      </div>
    </div>
    <%= f.submit "Modifier l'annonce", class: "btn btn-primary aa-mobile-btn aa-new-publierannonce" %>
    <% end %>
  </div>
</div>
