<style>
  body { position: fixed; }
</style>
<div class='aa-accroche'>
<div class='aa-accroche-texture'>
  <p class='p-titre p-accroche-desktop'>La plateforme Artaetas, c’est la simplicité d'une plateforme dédiée mobile, c’est le choix en oeuvres d'arts de toutes catégories, c’est la liberté de vendre et d'acheter, pour tous, artistes, amateurs et collectionneurs.</p>
  <p class='p-titre p-accroche-mobile'>"Artaetas, c’est la simplicité, c’est le choix, c’est la liberté, pour tous, artistes, amateurs et collectionneurs."</p>
  <a href="" class="aa-accroche-button">QUI SOMMES NOUS?</a>
</div>

</div>
<div class='container-annonces'>

  <% annonces_count = @annonces.count %>
  <% annonces_reste = annonces_count % 4 %>
  <% annonces_blank = 4 - annonces_reste %>
  <% i = 0 %>
  <% j = 0 %>
  <% @annonces.each do |t| %>
    <% if j == 0 %>
      <div class='container-annonces-div annonce-cont-4'>
    <% end %>
    <% if i == 0 %>
      <div class='annonce-column'>
    <% end %>
      <div class="aa-annonce-card">
          <%= cl_image_tag t.photo, { class: "aa-annonce-card-image"} %>
        <div class="aa-annonce-card-texte">
        <%= link_to "annonces/#{t.id}" do %>
        <p class='p-titre'><%= t.name.lines.first[0,20] %></p>
        <% end %>
        <p class='p-description'><%= t.description.lines.first[0,30] %></p>
        </div>
      </div>
    <% i += 1 %>
    <% j += 1 %>
    <% if i == 2 %>
      </div>
      <% i = 0 %>
    <% end %>
    <% if j == 4 %>
      </div>
      <% j = 0 %>
    <% end %>
  <% end %>
  <% case annonces_reste %>
  <% when 1 %>
    <div  class="aa-annonce-card"></div>
    </div>
    <div class='annonce-column'>
      <div class="aa-annonce-card"></div>
      <div class="aa-annonce-card"></div>
    </div>
    </div>
  <% when 2 %>
    <div class='annonce-column'>
      <div class="aa-annonce-card"></div>
      <div class="aa-annonce-card"></div>
    </div>
    </div>
  <% when 3 %>
    <div class="aa-annonce-card"></div>
    </div>
    </div>
  <% end %>
  </div>
</div>

<div class="aa-button">
  <div class="aa-button-decouvrir" id="aa-decouvrir">
    <div class="aa-button-symb-blue">
      <a href="/searchannonce"><%= svg 'attribut' %></a>
    </div>
    <div class="aa-button-text">
      <div class="aa-button-gros">
        <p>Rechercher&nbsp;</p>
      </div>
      <div class="aa-button-petit">
        <p>une oeuvre</p>
      </div>
    </div>
   <!-- link_to "Decouvrir une oeuvre", { :controller => "annonces", :action => :search }, :method => :get, :class => "aa-button-link aa-decouvrir"  >
     -->
  </div>
  <div class="aa-button-deposer" id="aa-deposer">
    <div class="aa-button-symb-white">
      <a href="/annonces/new" ><%= svg 'archiver' %></a>
    </div>
    <div class="aa-button-text">
      <div class="aa-button-gros">
        <p>Deposer&nbsp;</p>
      </div>
      <div class="aa-button-petit">
        <p>une oeuvre</p>
      </div>
    </div>

<!-- < link_to "Deposer une oeuvre", { :controller => "annonces", :action => :new }, :method => :get, :class => "aa-button-link aa-deposer"  > -->
  </div>
</div>

<div class="aa-who">
  <!-- <p class="aa-who-p-title">Le passage de Lorem Ipsum standard, utilisé depuis 1500</p> -->
<p class="aa-who-p">Artaetas veut être le maillon qui facilitera l'accès à l’art pour tous.
« Artes Aetas », le temps de l’art en latin.</p>

<!-- <p class="aa-who-p-title">Section 1.10.32 du "De Finibus Bonorum et Malorum" de Ciceron (45 av. J.-C.)</p> -->
<p class="aa-who-p">Le temps de rendre l’art accessible à tous, que chaque amateur d’art puisse profiter d’un large choix avec un accès direct aux artistes et aux collectionneurs.</p>

<p class="aa-who-p">Le temps pour chaque talent artistique de rayonner sur une plateforme qui leur est dédiée, simple, totalement gratuite, construite pour un usage mobile.</p>

<p class="aa-who-p">Le temps pour les particuliers de pouvoir facilement renouveler leurs collections, vendre ou acheter leurs oeuvres en totale liberté.   </p>
</div>

<div class="aa-search-field-mobile aa-search-hidden" id="tabmobilesearch">
<div class='aa-search-field-bg' id="tabmobileform" >
  <div class='aa-search-field-form' id="tabmobileform2">
  <%= form_tag('/searchannonce/', method: :get) do %>
  <% if params[:term] == '' || params[:term].nil? %>
    <%= text_field_tag :term,  "Que recherchez-vous?", :class => "aa-search-field-text" %>
  <% else %>
    <%= text_field_tag :term,  params[:term] , :class => "aa-search-field-text" %>
  <% end %>
  <%= submit_tag 'Rechercher', :class => "btn btn-primary aa-search-field-form-btn" %>
<label class="aa-search-field-label-begin">Prix entre :</label>
  <% if params[:pricemin] == '' || params[:pricemin].nil? %>
    <%= select_tag :pricemin,  options_for_select([[0, 0], [20, 20], [50, 50]], selected: @pricemin || nil), :class =>"aa-search-field-select", include_blank: "Prix min" %>
  <% else %>
    <%= select_tag :pricemin,  options_for_select([[0, 0], [20, 20], [50, 50]], selected: @pricemin || nil), :class =>"aa-search-field-select", :selected_value => @pricemin %>
  <% end %>
<label class="aa-search-field-label-end">et</label>
<% if params[:pricemax] == '' || params[:pricemax].nil?%>
   <%= select_tag :pricemax,  options_for_select([[20, 20], [50, 50], [100, 100]], selected: @pricemax || nil), :class =>"aa-search-field-select", include_blank: "Prix max"  %>
<% else %>
   <%= select_tag :pricemax,  options_for_select([[20, 20], [50, 50], [100, 100 ]], selected: @pricemax || nil), :class =>"aa-search-field-select", include_blank: params[:pricemax]  %>
<% end %>


  <% end %>

  </div>
</div>
</div>
