<div class="aa-new-bg">
  <div class="aa-new-container">
    <%= simple_form_for(@annonce) do |f| %>
    <div class="aa-new-accroche"></div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Votre Annonce</div>
      <div class="aa-new-vafield">
        <!-- [...] -->
        <%= f.input :name, label: "Nom de l'oeuvre"  %>
        <%= f.input :description, placeholder: "Seule la premiere ligne apparait dans l'index max 50 caracteres" %>
        <%= f.input :prix, placeholder: "€", input_html: { class: 'aa-textalignright' } %>
        <!-- < f.collection_check_boxes :categorie_ids, Categorie.all, :id, :name  > -->
        <%= f.input :anneecreation, label: "Année de création" %>
        <%= f.input :nom_artiste, label: "Nom de l'artiste" %>
        <div class="aa-new-photo-field">
          <div class="aa-new-photo-field-indivi">
            <%= f.input :photo, :input_html => { :onchange => "document.getElementById('previewPhoto').src = window.URL.createObjectURL(this.files[0])", class: 'hide-photo-btn' } %>
            <img class="aa-edit-thumbnail" id="previewPhoto"></img>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="aa-new-photo-field-indivi">
            <%= f.input :photo_un, :input_html => { :onchange => "document.getElementById('previewPhotoUn').src = window.URL.createObjectURL(this.files[0])", class: 'hide-photo-btn' }  %>
            <img class="aa-edit-thumbnail" id="previewPhotoUn"></img>
            <%= f.input :photo_un_cache, as: :hidden %>
          </div>
          <div class="aa-new-photo-field-indivi">
            <%= f.input :photo_deux, :input_html => { :onchange => "document.getElementById('previewPhotoDeux').src = window.URL.createObjectURL(this.files[0])", class: 'hide-photo-btn' }  %>
            <img class="aa-edit-thumbnail" id="previewPhotoDeux"></img>
            <%= f.input :photo_deux_cache, as: :hidden %>
          </div>
        </div>
        

        <!-- [...] -->
      </div>
    </div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Tags</div>
      <div class="aa-new-vafield">
        <p class="aa-new-label">Categories</p>
         <%= f.select :categorie_annonces , options_for_select(Categorie.all.collect {|u| [u.name, u.id]}), {:include_blank => false}, {:multiple => true, :class => 'multiple-dd form-group'}  %>
         
        <%# for categorie in Categorie.all %>
          <!--<label class="aa-new-label-tags">-->
          <%#= check_box_tag "annonce[categorie_ids][]", categorie.id %>
          <%#=h categorie.name %>
          <!--</label><br />-->
         <%# end %>
         
         
        <p class="aa-new-label">Courants</p>
        <%= f.select :courant_ids , options_for_select(Courant.all.collect {|u| [u.name, u.id]}), {:include_blank => false}, {:multiple => true, :class => 'multiple-dd2 form-group'}  %>
        <%# for courant in Courant.all %>
        <!--<label class="aa-new-label-tags">-->
          <%#= check_box_tag "annonce[courant_ids][]", courant.id %>
          <%#=h courant.name %>
          <!--</label><br />-->
         <%# end %>
         
        <p class="aa-new-label">Couleurs</p>
        <%= f.select :couleur_ids , options_for_select(Couleur.all.collect {|u| [u.couleur_dominante, u.id]}), {:include_blank => false}, {:multiple => true, :class => 'multiple-dd3 form-group'}  %>
        <%# for couleur in Couleur.all %>
        <!--<label class="aa-new-label-tags">-->
          <%#= check_box_tag "annonce[couleur_ids][]", couleur.id %>
          <%#=h couleur.couleur_dominante %>
          <!--</label><br />-->
         <%# end %>
        <%#= f.select :couleur_ids , options_for_select(Couleur.all), {:include_blank => true}, {:multiple => true, :size =>10, :class => 'multiple-dd'}  %>
         
      </div>
    </div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Critères</div>
      <div class="aa-new-vafield">
      <%#= f.input :format , placeholder: "" %>
      <%= f.input :disposition, :collection => ["Portrait","Paysage", "Carre"]%>
      <%= f.input :hauteur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :largeur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :profondeur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :oeuvre_limite, label: "Qualité de l'oeuvre", :collection => ["Oeuvre Unique","Oeuvre Limite", "Oeuvre Illimite"]%>
      <%= f.input :certificat_authenticite, label: "certificat d'authenticité" %>
      <%= f.input :facture_achat, label: "facture d'achat de l'oeuvre" %>
      <%= f.input :encadrement  %>
      <%= f.input :etat_neuf  %>
      </div>
    </div>
    <%= f.submit "Publier cette annonce", class: "btn btn-primary aa-mobile-btn" %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
