<div class="aa-new-bg">
  <div class="aa-new-container">
    <%= simple_form_for(@annonce) do |f| %>
    <div class="aa-new-accroche"></div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Votre Annonce</div>
      <div class="aa-new-vafield">
        <!-- [...] -->
        <%= f.input :name %>
        <%= f.input :description, placeholder: "Seule la premiere ligne apparait dans l'index max 50 caracteres" %>
        <%= f.input :prix, placeholder: "€", input_html: { class: 'aa-textalignright' } %>
        <!-- < f.collection_check_boxes :categorie_ids, Categorie.all, :id, :name  > -->

        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <!-- [...] -->
      </div>
    </div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Vos Tags</div>
      <div class="aa-new-vafield">
        <p class="aa-new-label">Categories</p>
        <% for categorie in Categorie.all %>
          <label class="aa-new-label-tags">
          <%= check_box_tag "annonce[categorie_ids][]", categorie.id %>
          <%=h categorie.name %></label><br />
         <% end %>
        <p class="aa-new-label">Courants</p>
        <% for courant in Courant.all %>
        <label class="aa-new-label-tags">
          <%= check_box_tag "annonce[courant_ids][]", courant.id %>
          <%=h courant.name %></label><br />
         <% end %>
        <p class="aa-new-label">Couleurs</p>
        <% for couleur in Couleur.all %>
        <label class="aa-new-label-tags">
          <%= check_box_tag "annonce[couleur_ids][]", couleur.id %>
          <%=h couleur.couleur_dominante %></label><br />
         <% end %>
      </div>
    </div>

    <div class="aa-new-containerfield">
      <div class="aa-new-titrefield">Vos Criteres</div>
      <div class="aa-new-vafield">
      <%= f.input :format , placeholder: "" %>
      <%= f.input :disposition, placeholder: "Portrait, Paysage" %>
      <%= f.input :hauteur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :largeur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :profondeur, placeholder: "cm", input_html: { class: 'aa-textalignright' } %>
      <%= f.input :oeuvre_limite, placeholder: "nombre d'oeuvre editee" %>
      <%= f.input :oeuvre_unique %>
      <%= f.input :oeuvre_illimite %>
      <%= f.input :certificat_authenticite %>
      <%= f.input :facture_achat %>
      <%= f.input :encadrement %>
      <%= f.input :etat_neuf %>
      </div>
    </div>
    <%= f.submit "Nouvelle Annonce", class: "btn btn-primary aa-mobile-btn" %>
    <% end %>
  </div>
</div>
