<div class='aa-search-field-bg' id="tabmobileform" >
  <div class='aa-search-field-form' id="tabmobileform2">
    <%= form_tag('/searchannonce/', method: :get, :class => 'aa-search-form' ) do  %>
      <% if params[:term] == '' || params[:term].nil? %>
        <div class="aa-search-textfieldwrap"><%= text_field_tag :term,  nil, :class => "aa-search-field-text", :placeholder => "Que Recherchez Vous ?" %></div>
      <% else %>
        <div class="aa-search-textfieldwrap"><%= text_field_tag :term,  params[:term] , :class => "aa-search-field-text" %></div>
      <% end %>
      <% if params[:categorie_search2] == '' || params[:categorie_search2].nil? %>
        <%= select_tag :categorie_search2 , options_from_collection_for_select(Categorie.all, "id", "name", selected: @categorie_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd"  %>
      <% else %>
        <%= select_tag :categorie_search2 ,   options_from_collection_for_select(Categorie.all, "id", "name", selected: @categorie_search2 || nil ), include_blank: false, :multiple => true, :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd"  %>
      <% end %>

      <% if params[:courant_search2] == '' || params[:courant_search2].nil?%>
        <%= select_tag :courant_search2 , options_from_collection_for_select(Courant.all, "id", "name", selected: @courant_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd2"  %>
      <% else %>
        <%= select_tag :courant_search2 , options_from_collection_for_select(Courant.all, "id", "name", selected: @courant_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd2"  %>      
      <% end %>

      <% if params[:couleur_search2] == '' || params[:couleur_search2].nil?%>
        <%= select_tag :couleur_search2 , options_from_collection_for_select(Couleur.all, "id", "couleur_dominante", selected: @couleur_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd3"  %>  
      <% else %>
        <%= select_tag :couleur_search2 , options_from_collection_for_select(Couleur.all, "id", "couleur_dominante", selected: @couleur_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd3"  %>  
      <% end %>

      <%#= range_field_tag :pricemin, 0 , min: 0, max: 500, step: 1 %>
      <%#= range_field_tag :pricemax , 500,  min: 0, max: 500, step: 1 %>
      
      <!--<div data-role="rangeslider">-->
      <!--  <label for="range-1a">Rangeslider:</label>-->
      <!--  <input name="range-1a" id="range-1a" min="0" max="100" value="0" type="range" />-->
      <!--  <label for="range-1b">Rangeslider:</label>-->
      <!--  <input name="range-1b" id="range-1b" min="0" max="100" value="100" type="range" />-->
      <!--</div>-->
     <!--<input id="ex6" type="text" data-slider-min="0" data-slider-max="2000" data-slider-step="1" data-slider-value="3"/>-->
     <!--<span id="ex6CurrentSliderValLabel">Prix Min: <span id="ex6SliderVal">0</span></span>-->
     
    <% if params[:prix_slider] == '' || params[:prix_slider].nil?%>
      <input name="prix_slider" id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="<%= "#{@slider_max}" %>" data-slider-step="5" data-slider-value="[0,<%= "#{@slider_max}" %>]"/>
    <% else %>
      <input name="prix_slider" id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="<%= "#{@slider_max}" %>" data-slider-step="5" data-slider-value="[<%= "#{@pricemin}" %>,<%= "#{@pricemax}" %>]"/>
    <% end %>
      <%# if params[:pricemin] == '' || params[:pricemin].nil? %>
        <%#= number_field_tag :pricemin, "", class: "aa-search-field-text-tag", placeholder: "Prix Min"  %>
      <%# else %>
        <%#= number_field_tag :pricemin,  @pricemin, class: "aa-search-field-text-tag", placeholder: "Prix Min"    %>
      <%# end %>
      <%# if params[:pricemax] == '' || params[:pricemax].nil?%>
        <%#= number_field_tag :pricemax, "", class: "aa-search-field-text-tag", placeholder: "Prix Max" %>
      <%# else %>
        <%#= number_field_tag :pricemax, @pricemax, class: "aa-search-field-text-tag", placeholder: "Prix Max"   %>
      <%# end %>

      <%= submit_tag 'Rechercher', :class => "btn btn-primary aa-search-field-form-btn" %>

    <% end %>

  </div>
</div>
<div class="aa-search-annonce-container">
      <% if @annonces.count > 0 %>
        <% @annonces.each do |a| %>

            <div class="aa-search-annonce-card">
            <%= link_to a, class: "aa-search-annonce-card-image" do %>
              <!-- <div class="aa-search-annonce-card-image"> -->
                <%= cl_image_tag a.photo %>
              <!-- </div> -->
            <% end %>
            <%= link_to a, class: "aa-search-annonce-card-detail" do %>
              <p class="aa-annonce-titre-search"><%= a.name.lines.first[0,30] %></p>
              <p class="aa-annonce-prix-search"><%= a.prix %><%= "€" unless a.prix.nil? %></p>
              <p class="aa-annonce-description-search"><!-- < a.description.lines.first[0,30] > -->
               <%= a.description %>
              </p>
            <% end %>

              <div class="aa-search-annonce-card-control">
              </div>


            </div>

        <% end %>
      <% else %>
        <h1>Aucune annonce trouvee</h1>
      <% end %>
</div>
<div class="aa-search-field-mobile aa-search-hidden" id="tabmobilesearch">
</div>
<%= render 'shared/footer' %>

