<div class='aa-search-field-bg' id="tabmobileform" >
  <div class='aa-search-field-form' id="tabmobileform2">
    <%= form_tag('/searchannonce/', method: :get, :class => 'aa-search-form' ) do  %>
      <% if params[:term] == '' || params[:term].nil? %>
        <div class="aa-search-textfieldwrap"><%= text_field_tag :term,  nil, :class => "aa-search-field-text", :placeholder => "Que recherchez vous ?" %>
        <!--</div>-->
      <% else %>
        <div class="aa-search-textfieldwrap"><%= text_field_tag :term,  params[:term] , :class => "aa-search-field-text" %>
        <!--</div>-->
      <% end %>
      
      <% if params[:ordre_annonce] == '' || params[:ordre_annonce].nil?%>
        <%= select_tag :ordre_annonce, options_for_select([["Trier les Résultats",""],"PRIX CROISSANT","PRIX DECROISSANT","DATE CREATION CROISSANT","DATE CREATION DECROISSANT","DATE ANNONCE CROISSANT","DATE ANNONCE DECROISSANT"], ""), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis", :style => "border: solid 1px rgba(1,1,1,0.1); "  %>  
      <% else %>
        <%= select_tag :ordre_annonce, options_for_select([["Trier les Résultats",""],"PRIX CROISSANT","PRIX DECROISSANT","DATE CREATION CROISSANT","DATE CREATION DECROISSANT","DATE ANNONCE CROISSANT","DATE ANNONCE DECROISSANT"], @ordre_annonce), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis", :style => "border: solid 1px rgba(1,1,1,0.1); "  %>  
      <% end %>
      
      </div>
      
      <% if params[:categorie_search2] == '' || params[:categorie_search2].nil? %>
        <%= select_tag :categorie_search2 , options_from_collection_for_select(Categorie.all, "id", "name", selected: @categorie_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd"  %>
      <% else %>
        <%= select_tag :categorie_search2 ,   options_from_collection_for_select(Categorie.all, "id", "name", selected: @categorie_search2 || nil ), include_blank: false, :multiple => true, :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd"  %>
      <% end %>

      <% if params[:courant_search2] == '' || params[:courant_search2].nil?%>
        <%= select_tag :courant_search2 , options_from_collection_for_select(Courant.all, "id", "name", selected: @courant_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd2"  %>
      <% else %>
        <%= select_tag :courant_search2 , options_from_collection_for_select(Courant.all, "id", "name", selected: @courant_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd2"  %>      
      <% end %>

      <% if params[:couleur_search2] == '' || params[:couleur_search2].nil?%>
        <%= select_tag :couleur_search2 , options_from_collection_for_select(Couleur.all, "id", "couleur_dominante", selected: @couleur_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd3"  %>  
      <% else %>
        <%= select_tag :couleur_search2 , options_from_collection_for_select(Couleur.all, "id", "couleur_dominante", selected: @couleur_search2 || nil), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd3"  %>  
      <% end %>
      

      

     
    <% if params[:prix_slider] == '' || params[:prix_slider].nil?%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="prix_slider" class="aa-label-prix-slider">Prix</label>
      <input name="prix_slider" id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="<%= "#{@slider_max}" %>" data-slider-step="5" data-slider-value="[0,<%= "#{@slider_max}" %>]"/>
    <% else %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="prix_slider" class="aa-label-prix-slider">Prix</label>
      <input name="prix_slider" id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="<%= "#{@slider_max}" %>" data-slider-step="5" data-slider-value="[<%= "#{@pricemin}" %>,<%= "#{@pricemax}" %>]"/>
    <% end %>
    
    <% if params[:disposition_search2] == '' || params[:disposition_search2].nil?%>
      <%= select_tag :disposition_search2, options_for_select(["Portrait","Paysage"], ""), include_blank: false, :multiple => true,  :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd5"  %>  
    <% else %>
      <%= select_tag :disposition_search2, options_for_select(["Portrait","Paysage"], @disposition_search2), include_blank: false, :multiple => true,  :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd5"  %>  
    <% end %>
    
    <%# if params[:disposition] == '' || params[:disposition].nil?%>
      <%#= select_tag :disposition, options_for_select([["Disposition",""],"Portrait","Paysage"], ""), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# else %>
      <%#= select_tag :disposition, options_for_select([["Disposition",""],"Portrait","Paysage"], @disposition), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# end %>
    
      <% if params[:administratif_search2] == '' || params[:administratif_search2].nil?%>
        <%= select_tag :administratif_search2 , options_for_select([ ["Facture d'achat","facture_achat"], ["Certificat d'authenticité","certificat_authenticite"], ["Encadrement","encadrement"], ["Etat Neuf","etat_neuf"] ], ""), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd4"  %>  
      <% else %>
        <%= select_tag :administratif_search2 , options_for_select([ ["Facture d'achat","facture_achat"], ["Certificat d'authenticité","certificat_authenticite"], ["Encadrement","encadrement"], ["Etat Neuf","etat_neuf"] ], @administratif_search2 ), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis multiple-dd4"  %>  
      <% end %>
    
    <%# if params[:facture_achat] == '' || params[:facture_achat].nil?%>
      <%#= select_tag :facture_achat, options_for_select([["Facture",""],["Pas de Facture d'achat",false],["Facture présente",true]], ""), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# else %>
      <%#= select_tag :facture_achat, options_for_select([["Facture",""],["Pas de Facture d'achat",false],["Facture présente",true]], @facture_achat), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# end %>
    
    <% if params[:code_postal_search2] == '' || params[:code_postal_search2].nil?%>
      <%= select_tag :code_postal_search2, options_for_select(@code_postal_all.each {|p| [ p ] if p.is_a? Integer }, 99999999), include_blank: false, :multiple => true,  :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd6"  %>  
    <% else %>
      <%= select_tag :code_postal_search2, options_for_select(@code_postal_all.each {|p| [ p ] if p.is_a? Integer }, @code_postal_search2), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd6"  %>  
    <% end %>
    
    <%# if params[:code_postal] == '' || params[:code_postal].nil?%>
      <%#= select_tag :code_postal, options_for_select(@code_postal_all.each {|p| [ p ] if p.is_a? Integer }, "Code Postal"), include_blank: false, :prompt => "Code Postal",  :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# else %>
      <%#= select_tag :code_postal, options_for_select(@code_postal_all.each {|p| [ p ] if p.is_a? Integer }, @code_postal), include_blank: false, :prompt => "Code Postal", :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# end %>
    
    <% if params[:pays_search2] == '' || params[:pays_search2].nil?%>
       <%= select_tag :pays_search2, options_for_select(["France","Grande-Bretagne","Irlande","Belgique","Pays-Bas","Luxembourg","Allemagne","Suisse","Italie","Espagne","Portugal"], "" ), include_blank: true, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd7"  %>  
    <% else %>
      <%= select_tag :pays_search2, options_for_select(["France","Grande-Bretagne","Irlande","Belgique","Pays-Bas","Luxembourg","Allemagne","Suisse","Italie","Espagne","Portugal"], @pays_search2 ) , include_blank: true, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd7"  %>  
    <% end %>
    
    <%# if params[:pays] == '' || params[:pays].nil?%>
       <%#= select_tag :pays, options_for_select([["Choisir un Pays",""],"France","Grande-Bretagne","Irlande","Belgique","Pays-Bas","Luxembourg","Allemagne","Suisse","Italie","Espagne","Portugal"], "" ), include_blank: true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# else %>
      <%#= select_tag :pays, options_for_select([["Choisir un Pays",""],"France","Grande-Bretagne","Irlande","Belgique","Pays-Bas","Luxembourg","Allemagne","Suisse","Italie","Espagne","Portugal"], @pays ) , include_blank: true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# end %>
    
    <% if params[:volume_search2] == '' || params[:volume_search2].nil?%>
       <%= select_tag :volume_search2, options_for_select([["Grand","g"],["Moyen","m"],["Petit","p"]], "" ), include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd8"  %>  
    <% else %>
      <%= select_tag :volume_search2, options_for_select([["Grand","g"],["Moyen","m"],["Petit","p"]], @volume_search2 ) , include_blank: false, :multiple => true, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis  multiple-dd8"  %>  
    <% end %>
    
    <%# if params[:volume] == '' || params[:volume].nil?%>
       <%#= select_tag :volume, options_for_select([["Choisir une Taille",""],["Grand","g"],["Moyen","m"],["Petit","p"]], "" ), include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# else %>
      <%#= select_tag :volume, options_for_select([["Choisir une Taille",""],["Grand","g"],["Moyen","m"],["Petit","p"]], @volume ) , include_blank: false, :class => "aa-search-field-select aa-search-field-select-tag aa-search-field-basis"  %>  
    <%# end %>
    
    

    <%#= @format %>
      <%= submit_tag 'Rechercher', :class => "btn btn-primary aa-search-field-form-btn" %>


    <% end %>

  </div>
</div>
<%# --------------------------------------------------------------------------------------------- %>
<!--<div class="aa-search-annonce-container">-->
<!--  <%# if @annonces.count > 0 %>-->
<!--    <%# @annonces.each do |a| %>-->
<!--      <div class="aa-search-annonce-card">-->
<!--        <%#= link_to a, class: "aa-search-annonce-card-image" do %>-->
<!--          <%#= cl_image_tag a.photo %>-->
<!--        <%# end %>-->
<!--        <%#= link_to a, class: "aa-search-annonce-card-detail" do %>-->
<!--          <b><p class='aa-show-titre'><%#= a.name %></p></b>-->
<!--          <p class="aa-show-detail-italic">-->
<!--            <%# if a.nom_artiste? %>-->
<!--              <%#= "#{a.nom_artiste} - "  %>-->
<!--            <%# end %>-->
<!--            <%# if a.anneecreation %>-->
<!--              <%#= "#{a.anneecreation}" %>-->
<!--            <%# end %>-->
<!--          </p>-->
<!--          <p class="aa-show-price  aa-show-detail-italic">-->
<!--            <%# if a.prix?   %>-->
<!--              <%# if (a.prix.to_i - a.prix) > 0 %>-->
<!--                <%#= number_with_delimiter(a.prix.to_s, delimiter: " " ) %>€-->
<!--              <%# else %>-->
<!--                <%#= number_with_delimiter(a.prix.to_i.to_s, delimiter: " " ) %>€-->
<!--              <%# end %>-->
<!--            <%# end %>-->
<!--          </p>-->
<!--          <p class="aa-p-description">-->
<!--            <%#= a.description %>-->
<!--          </p>-->
<!--        <%# end %>-->
<!--        <div class="aa-search-annonce-card-control">-->
<!--        </div>-->
<!--      </div>-->
<!--    <%# end %>-->
<!--  <%# else %>-->
<!--    <h1>Aucune annonce trouvee</h1>-->
<!--  <%# end %>-->
<!--</div>-->

<div class="grid-container aa-search-grid-container">
  <div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    
<%# ###################################### EACH ON Standard ####################################################### %>
<% a_pre = [] %>
<% a_pre.replace(@annonces_pre) %>
<% puts a_pre[0] %>
<% puts a_pre[1] %>
<% i = Varlocale.where(nomchamp: "OccurenceMea").first.valeurchamp %>
    <% if @annonces.count == 0 %>
      <% @annonces_pre.each do |t| %>
        <div class="grid-item aa-formule-malu">
         <%= link_to "/annonces/#{t.id}", { class: "aa-annonce-titre"} do %>
              <%= image_tag("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data: { original: t.photo.url.insert(4, 's') })  %>
              
              <% unless t.name.nil? %>
                <p class='p-titre-search'><%= t.name[0,70] %></p>
              <% end %>
              
              <div class="aa-search-artisteyearprice">
                <p class="aa-show-detail-italic">
                  <% if t.nom_artiste? %>
                   <%= "#{t.nom_artiste} - "  %>
                  <% end %>
                  <% if t.anneecreation? %>
                    <%= "#{t.anneecreation}" %>
                  <% end %>
                </p>
                
                <p class="aa-search-price  aa-show-detail-italic">
                  <% if t.prix   %>
                    <% if (t.prix.to_i - t.prix) > 0 %>
                      <%= number_with_delimiter(t.prix.to_s, delimiter: " " ) %>€
                    <% else %>
                      <%= number_with_delimiter(t.prix.to_i.to_s, delimiter: " " ) %>€
                    <% end %>
                  <% end %>
                </p>
              </div>

              
              
              <% unless t.description.nil? %>
                <p class='p-description-search'>
                  <%= t.description[0,265] %>
                  <%= "..." if t.description.size > 265 %>
                </p>
              <% end %>
            
          <% end %>
        </div>
      <% end %>
    <% end %>
    
    <% @annonces.each do |t| %>
       <% if a_pre[0].nil? %>
        <% a_pre = [] %>
        <% a_pre.replace(@annonces_pre) %>
       <% end %>
       <% if i == Varlocale.where(nomchamp: "OccurenceMea").first.valeurchamp %>
         <% unless a_pre[0].nil? %>
          <div class="grid-item aa-formule-malu">
            <%= link_to "/annonces/#{a_pre[0].id}", { class: "aa-annonce-titre"} do %>
              <%= image_tag("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data: { original: a_pre[0].photo.url.insert(4, 's') })  %>
              <% unless a_pre[0].name.nil? %>
                <p class='p-titre-search'><%= a_pre[0].name[0,70] %></p>
              <% end %>
              <div class="aa-search-artisteyearprice">
                <p class="aa-show-detail-italic">
                  <% if a_pre[0].nom_artiste? %>
                   <%= "#{a_pre[0].nom_artiste} - "  %>
                  <% end %>
                  <% if a_pre[0].anneecreation? %>
                    <%= "#{a_pre[0].anneecreation}" %>
                  <% end %>
                </p>
                <p class="aa-search-price  aa-show-detail-italic">
                  <% if a_pre[0].prix   %>
                    <% if (a_pre[0].prix.to_i - a_pre[0].prix) > 0 %>
                      <%= number_with_delimiter(a_pre[0].prix.to_s, delimiter: " " ) %>€
                    <% else %>
                      <%= number_with_delimiter(a_pre[0].prix.to_i.to_s, delimiter: " " ) %>€
                    <% end %>
                  <% end %>
                </p>
              </div>
              <% unless a_pre[0].description.nil? %>
                <p class='p-description-search'>
                  <%= a_pre[0].description[0,265] %>
                  <%= "..." if a_pre[0].description.size > 265 %>
                </p>
              <% end %>
            <% end %>
          </div>
            <% a_pre.slice!(0) %>
            <% i = 0 %>
          <% end %>
       <% end %>
       
       <div class="grid-item ">
         <%= link_to "/annonces/#{t.id}", { class: "aa-annonce-titre"} do %>
              <%= image_tag("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data: { original: t.photo.url.insert(4, 's') })  %>
              
              <% unless t.name.nil? %>
                <p class='p-titre-search'><%= t.name[0,70] %></p>
              <% end %>
              
              <div class="aa-search-artisteyearprice">
                <p class="aa-show-detail-italic">
                  <% if t.nom_artiste? %>
                   <%= "#{t.nom_artiste} - "  %>
                  <% end %>
                  <% if t.anneecreation? %>
                    <%= "#{t.anneecreation}" %>
                  <% end %>
                </p>
                
                <p class="aa-search-price  aa-show-detail-italic">
                  <% if t.prix   %>
                    <% if (t.prix.to_i - t.prix) > 0 %>
                      <%= number_with_delimiter(t.prix.to_s, delimiter: " " ) %>€
                    <% else %>
                      <%= number_with_delimiter(t.prix.to_i.to_s, delimiter: " " ) %>€
                    <% end %>
                  <% end %>
                </p>
              </div>

              
              
              <% unless t.description.nil? %>
                <p class='p-description-search'>
                  <%= t.description[0,265] %>
                  <%= "..." if t.description.size > 265 %>
                </p>
              <% end %>
            
          <% end %>
        </div>
        <% i += 1 %>  
     <% end %>
    
<!--<div style="position: absolute; top: -30px;">-->
<%# @result_query.each do |annonce| %>
  <!--<p>-->
    <%#= annonce %>
  <!--</p>-->
<%# end %>
<!--</div>-->
<%# ###################################### EACH ON Standard - END ####################################################### %>
  </div>
</div>
<%# --------------------------------------------------------------------------------------------- %>
<div class="aa-search-field-mobile aa-search-hidden" id="tabmobilesearch">
</div>


