<div class='aa-search-field-bg' id="tabmobileform" >
  <div class='aa-search-field-form' id="tabmobileform2">
  <%= form_tag('/searchannonce/', method: :get) do %>
  <% if params[:term] == '' || params[:term].nil? %>
    <%= text_field_tag :term,  "Que recherchez-vous?", :class => "aa-search-field-text" %>
  <% else %>
    <%= text_field_tag :term,  params[:term] , :class => "aa-search-field-text" %>
  <% end %>
  <%= submit_tag 'Rechercher', :class => "btn btn-primary aa-search-field-form-btn" %>
<label class="aa-search-field-label-begin">Prix entre :</label>
  <% if params[:pricemin] == '' || params[:pricemin].nil? %>
    <%= select_tag :pricemin,  options_for_select([[0, 0], [20, 20], [50, 50]], selected: @pricemin || nil), :class =>"aa-search-field-select", include_blank: "Prix min" %>
  <% else %>
    <%= select_tag :pricemin,  options_for_select([[0, 0], [20, 20], [50, 50]], selected: @pricemin || nil), :class =>"aa-search-field-select", :selected_value => @pricemin %>
  <% end %>
<label class="aa-search-field-label-end">et</label>
<% if params[:pricemax] == '' || params[:pricemax].nil?%>
   <%= select_tag :pricemax,  options_for_select([[20, 20], [50, 50], [100, 100]], selected: @pricemax || nil), :class =>"aa-search-field-select", include_blank: "Prix max"  %>
<% else %>
   <%= select_tag :pricemax,  options_for_select([[20, 20], [50, 50], [100, 100 ]], selected: @pricemax || nil), :class =>"aa-search-field-select", include_blank: params[:pricemax]  %>
<% end %>


  <% end %>

  </div>
</div>
<div class="aa-search-annonce-container">
      <% if @annonces.count > 0 %>
        <% @annonces.each do |a| %>

            <div class="aa-search-annonce-card">
            <%= link_to a, class: "aa-search-annonce-card-image" do %>
              <!-- <div class="aa-search-annonce-card-image"> -->
                <%= cl_image_tag a.photo %>
              <!-- </div> -->
            <% end %>
            <%= link_to a, class: "aa-search-annonce-card-detail" do %>
              <p><%= a.name.lines.first[0,30] %></p>
              <p><%= a.prix %><%= "€" unless a.prix.nil? %></p>
              <p><%= a.description.lines.first[0,30] %></p>
            <% end %>

              <div class="aa-search-annonce-card-control">
              </div>


            </div>

        <% end %>
      <% else %>
        <h1>Aucune annonce trouvee</h1>
      <% end %>
</div>
<div class="aa-search-field-mobile aa-search-hidden" id="tabmobilesearch">
</div>

