<div class='aa-search-field-bg' id="tabmobileform" >
  <div class='aa-search-field-form' id="tabmobileform2">
    <%= form_tag('/searchannonce/', method: :get, :class => 'aa-search-form' ) do %>
      <% if params[:term] == '' || params[:term].nil? %>
        <div class="aa-search-textfieldwrap"><%= text_field_tag :term,  "Que recherchez-vous?", :class => "aa-search-field-text" %></div>
      <% else %>
        <div class="aa-search-textfieldwrap"><%= text_field_tag :term,  params[:term] , :class => "aa-search-field-text" %></div>
      <% end %>
      <% if params[:categorie_search] == '' || params[:categorie_search].nil?%>
        <%= select_tag :categorie_search,  options_from_collection_for_select(Categorie.all, "id", "name", selected: @categorie_search || nil), :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis", include_blank: "Categorie"  %>
      <% else %>
        <%= select_tag :categorie_search,  options_from_collection_for_select(Categorie.all, "id", "name", selected: @categorie_search || nil), :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis", include_blank: params[:categorie_search]  %>
      <% end %>

      <% if params[:courant_search] == '' || params[:courant_search].nil?%>
        <%= select_tag :courant_search,  options_from_collection_for_select(Courant.all, "id", "name", selected: @courant_search || nil), :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis", include_blank: "Courant"  %>
      <% else %>
        <%= select_tag :courant_search,  options_from_collection_for_select(Courant.all, "id", "name", selected: @courant_search || nil), :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis", include_blank: params[:courant_search]  %>
      <% end %>

      <% if params[:couleur_search] == '' || params[:couleur_search].nil?%>
        <%= select_tag :couleur_search,  options_from_collection_for_select(Couleur.all, "id", "couleur_dominante", selected: @couleur_search || nil), :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis", include_blank: "Couleur"  %>
      <% else %>
        <%= select_tag :couleur_search,  options_from_collection_for_select(Couleur.all, "id", "couleur_dominante", selected: @couleur_search || nil), :class =>"aa-search-field-select aa-search-field-select-tag aa-search-field-basis", include_blank: params[:couleur_search]  %>
      <% end %>

      <% if params[:pricemin] == '' || params[:pricemin].nil? %>
        <%= select_tag :pricemin,  options_for_select([[0, 0], [20, 20], [50, 50]], selected: @pricemin || nil), :class =>"aa-search-field-select", include_blank: "Prix min" %>
      <% else %>
        <%= select_tag :pricemin,  options_for_select([[0, 0], [20, 20], [50, 50]], selected: @pricemin || nil), :class =>"aa-search-field-select", :selected_value => @pricemin %>
      <% end %>
      <% if params[:pricemax] == '' || params[:pricemax].nil?%>
        <%= select_tag :pricemax,  options_for_select([[20, 20], [50, 50], [100, 100]], selected: @pricemax || nil), :class =>"aa-search-field-select", include_blank: "Prix max"  %>
      <% else %>
        <%= select_tag :pricemax,  options_for_select([[20, 20], [50, 50], [100, 100 ]], selected: @pricemax || nil), :class =>"aa-search-field-select", include_blank: params[:pricemax]  %>
      <% end %>

      <%= submit_tag 'Rechercher', :class => "btn btn-primary aa-search-field-form-btn" %>

    <% end %>

  </div>
</div>
<div class="aa-search-annonce-container">
      <% if @annonces.count > 0 %>
        <% @annonces.each do |a| %>

            <div class="aa-search-annonce-card">
            <%= link_to a, class: "aa-search-annonce-card-image" do %>
              <!-- <div class="aa-search-annonce-card-image"> -->
                <%= cl_image_tag a.photo %>
              <!-- </div> -->
            <% end %>
            <%= link_to a, class: "aa-search-annonce-card-detail" do %>
              <p class="aa-annonce-titre"><%= a.name.lines.first[0,30] %></p>
              <p class="aa-annonce-prix"><%= a.prix %><%= "€" unless a.prix.nil? %></p>
              <p class="aa-annonce-description"><!-- < a.description.lines.first[0,30] > -->
               <%= a.description %>
              </p>
            <% end %>

              <div class="aa-search-annonce-card-control">
              </div>


            </div>

        <% end %>
      <% else %>
        <h1>Aucune annonce trouvee</h1>
      <% end %>
</div>
<div class="aa-search-field-mobile aa-search-hidden" id="tabmobilesearch">
</div>

