<div class="aa-show-bg">
  <div class="aa-show-container">
    <div class="aa-show-detailannonce">
      <div class="aa-show-detailannonce-header">
        <div class="aa-show-detailannonce-photo" id="aa-show-nopaddingtop">
          <%= cl_image_tag @annonces.photo, id: "bigPhoto" %>
          <div class="aa-show-favlike">
            <div class="aa-show-like">
              <div class="aa-show-like-svg-container" id="aa-show-likefunc">
                <% if user_signed_in? %>
                  <% if current_user.liked? @annonces %>
                    <%= link_to dislike_annonce_path(@annonces), class: 'vote', method: :put do %>
                      <%= inline_svg "dislike.svg", class: "aa-show-dislike-svg" %>
                    <% end %>
                  <% else %>
                    <%= link_to like_annonce_path(@annonces) , class: 'vote', method: :put do %>
                      <%= inline_svg "like.svg", class: "aa-show-like-svg" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="aa-show-like-counter">
                <%= @annonces.get_likes.size %>
              </div>
            </div>
            <div class="aa-show-fav-svg-container" id="aa-show-favfunc">
              <% if user_signed_in? %>
                <% if current_user.bookmarks?(@annonces) %>
                  <%= link_to unbookmark_annonce_path(@annonces), method: :put do %>
                    <%= inline_svg "faved.svg", class: "aa-show-unfav-svg" %>
                  <% end %>
                <% else %>
                  <%= link_to bookmark_annonce_path(@annonces) , method: :put do %>
                    <%= inline_svg "fav.svg", class: "aa-show-fav-svg" %>
                  <% end %>
                <% end %>
              <% end %>
              
            </div>
          </div>
        </div>
        <div class="aa-show-detailannonce-titre aa-show-marginbottom">
          <div class="aa-show-detailannonce-container">
            <div class="aa-show-detail-container">
              <b><p class='aa-show-titre'><%= @annonces.name %></p></b>
              
              <% if @annonces.anneecreation %>
                <p class="aa-show-detail-italic"><%= "#{@annonces.anneecreation}" %></p>
              <% end %>
              <% if @annonces.nom_artiste %>
                <p class="aa-show-detail-italic"><%= "#{@annonces.nom_artiste}"  %>
              <% end %>
              <p class="aa-show-price  aa-show-detail-italic">
              <% if @annonces.prix   %>
                <% if (@annonces.prix.to_i - @annonces.prix) > 0 %>
                  <%= number_with_delimiter(@annonces.prix.to_s, delimiter: " " ) %>€
                <% else %>
                  <%= number_with_delimiter(@annonces.prix.to_i.to_s, delimiter: " " ) %>€
                <% end %>
              <% end %>
              </p>
              


              <!-- <p class=''>< @annonces.created_at.to_date ></p> -->
            </div>
            <div class="aa-show-thumbnail-container">
            <% if @annonces.photo_deux? %>
              <%= cl_image_tag @annonces.photo_deux, class: 'aa-show-thumbnail' , id: "thumbPhotoDeux", onclick: "document.getElementById('bigPhoto').src = this.src" %>
            <% end %>
            <% if @annonces.photo_un? %>
              <%= cl_image_tag @annonces.photo_un, class: 'aa-show-thumbnail' , id: "thumbPhotoUn", onclick: "document.getElementById('bigPhoto').src = this.src" %>
            <% end %>
            <% if (@annonces.photo? && @annonces.photo_un?) || (@annonces.photo? && @annonces.photo_un?) %>
              <%= cl_image_tag @annonces.photo, class: 'aa-show-thumbnail' , id: "thumbPhoto", onclick: "document.getElementById('bigPhoto').src = this.src" %>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="aa-show-detailannonce-criteres aa-show-minheight aa-show-marginbottom">
        
        <div class="aa-show-detailannonce-description aa-show-border-topbottom aa-show-minheight aa-show-marginbottom">
          <div class='aa-show-description'><b><p>Description</p></b><p><%= @annonces.description %></p></div>
        </div>
        
        
        <div class="aa-show-minheight">
          <b><p>Criteres</p></b>
          <p>Dimensions en cm (h x l x p): <%= @hauteur %> cm x <%= @largeur %> cm x <%= @profondeur %> cm</p>
          <p>Format: 
          <% if @volume > 0.25 %>
            <% if @volume > 1 %>
              <%= "Grand" %>
            <% else %>
              <%= "Moyen" %>
            <% end %>
          <% else %>
            <%= "Petit" %>
          <% end %>
          </p>
          <p>Disposition: <%= @annonces.disposition %></p>
          <p><%= @annonces.oeuvre_limite %></p>
          
          <% if @annonces.certificat_authenticite %>
            <p>Certificat d'authenticite</p>
          <% end %>
          <% if @annonces.facture_achat %>
            <p>Facture d'achat</p>
          <% end %>
          <% if @annonces.encadrement %>
            <p>Encadrement</p>
          <% end %>
          <% if @annonces.etat_neuf %>
            <p>Etat neuf</p>
          <% end %>
          <br>
          <br>
          <b><p>Tags</p></b>
          <% unless CategorieAnnonce.all.where(annonce_id: @annonces.id).nil? %>
            <div class="aa-show-categorie-list">
              <% CategorieAnnonce.all.where(annonce_id: @annonces.id).each do |cat| %>
              <div class="aa-show-categorie-indivi"><p class="aa-show-categorie-txt"><%= Categorie.find(cat.categorie_id).name %></p></div>
              <% end %>
            </div>
          <% end %>
          <b><p>Courants</p></b>
          <% unless CourantAnnonce.all.where(annonce_id: @annonces.id).nil? %>
          <div class="aa-show-categorie-list">
            <% CourantAnnonce.all.where(annonce_id: @annonces.id).each do |cour| %>
            <div class="aa-show-categorie-indivi"><p><%= Courant.find(cour.courant_id).name %></p></div>
            <% end %>
          </div>
          <% end %>
          <b><p>Couleurs</p></b>
          <% unless CouleurAnnonce.all.where(annonce_id: @annonces.id).nil? %>
          <div class="aa-show-categorie-list">
            <% CouleurAnnonce.all.where(annonce_id: @annonces.id).each do |coul| %>
            <div class="aa-show-categorie-indivi"><p><%= Couleur.find(coul.couleur_id).couleur_dominante %></p></div>
            <% end %>
          </div>
        <% end %>
        </div>  
        <div class="aa-show-border-bottom aa-show-separator"></div>
      </div>
      
    </div>
    <div class="aa-show-detailuser">
      <div class="aa-show-detailuser-contact aa-show-minheight">
        
        <div class="aa-show-detailuser-contact-container">
          <div class="aa-show-detailuser-contact-profil">
            <div class="aa-show-contact-profil-photo">
              <% if @annonces.user.photoprofil?  %>
                <%= cl_image_tag @annonces.user.photoprofil, class: "aa-show-contact-svg"  %>
              <% else %>
                <%= inline_svg "profil.svg", class: "aa-show-contact-svg" %>
              <% end %>
            </div>
            
            <div class="aa-show-contact-profil-detail">
              <% if @annonces.user.afficher_identite %>
                <%= link_to "#{@annonces.user.surname} #{@annonces.user.lastname}", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
              <% else %>
                <% if @annonces.user.username %>
                 <%= link_to "#{@annonces.user.username}", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                <% else %>
                  <%= link_to "Profil Auteur", "/users/#{@annonces.user.id}", class: "aa-show-user-link"  %>
                <% end %>
              <% end %>
              <% if @annonces.user.statut %>
                <div class="aa-show-contact-profil-statut"><%= @annonces.user.statut %></div>
              <% end %>
              <div class="aa-show-contact-profil-nbannonces"><%= @annonces.user.annonces.count %> annonces en ligne</div>
              
                
                <% if user_signed_in? %>
                  <% if current_user.followees.include?(@user) %>
                  <div class="aa-show-detailuser-followbtn"><%= link_to "SUIVRE", unfollow_annonce_path(@annonces), method: :put, class: "aa-show-suivre-link" %> <%= inline_svg "enlever.svg", class: "aa-show-follow-svg" %></div>
                  <% else %>
                    <div class="aa-show-detailuser-followbtn"><%= link_to "SUIVRE", follow_annonce_path(@annonces), method: :put, class: "aa-show-suivre-link" %> <%= inline_svg "ajouter.svg", class: "aa-show-follow-svg" %></div>
                  <% end %>
                <% end %>
            </div>
          </div>
      
          <div class="aa-show-detailuser-contact-email">
            <div class="aa-show-detailuser-contact-btn">
              <% if @annonces.user.afficher_email %>
                  <%= inline_svg "conversation.svg", class: "aa-show-call-svg align-self-centeraa" %>&nbsp;&nbsp;&nbsp;
                  <%= link_to "Envoyer un Mail", "mailto:#{@annonces.user.email}", class: "aa-show-mailto align-self-centeraa" %>
              <% else %>
                <%= inline_svg "conversation.svg", class: "aa-show-call-svg aa-show-standard-svg" %>&nbsp;&nbsp;&nbsp;<a class="aa-show-mailto align-self-centeraa">Envoyer un Mail</a>
              <% end %>
              
              
            </div>
          </div>
          <div class="aa-show-detailuser-contact-tel">
            <div class="aa-show-detailuser-contact-btn">
               <% if @annonces.user.afficher_tel %>
                <%= inline_svg "contact.svg", class: "aa-show-call-svg aa-show-standard-svg align-self-centeraa" %>&nbsp;&nbsp;&nbsp;
                 <%= link_to "Contacter", "tel:#{@annonces.user.tel}", class: "aa-show-mailto align-self-centeraa" %>
              <% else %>
                <%= inline_svg "contact.svg", class: "aa-show-call-svg aa-show-standard-svg" %>&nbsp;&nbsp;&nbsp;<a class="aa-show-mailto align-self-centeraa">Contacter</a>
              <% end %>
            </div>
          </div>
        </div>
        

         
          
          <p class="aa-show-share-title">Partager cette annonce</p>
           <%= social_share_button_tag("Cette annonce est super venez la decouvrir sur http:\/\/artaetasv1.herokuapp.com\/annonces\/#{@annonces.id}", :image => "#{@annonces.photo.url}", :'data-twitter-hashtags' => "art,artaetas", :'via' => "artaetas", :'data-type' => 'photo', :url => "#{@annonces.photo.url}", desc: "Venez Vite!", :'data-quote' => "Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs", :'data-summary' => "Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs") %>
        

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
