<div class="aa-show-bg">
  <div class="aa-show-container">
    <div class="aa-show-detailannonce">
      <div class="aa-show-detailannonce-header">
        <div class="aa-show-detailannonce-photo" id="aa-show-nopaddingtop">
          <%= cl_image_tag @annonces.photo, id: "bigPhoto" %>
        </div>
        <div class="aa-show-detailannonce-titre aa-show-marginbottom">
          <div class="aa-show-detailannonce-container">
            <div class="aa-show-detail-container">
              <b><p class='aa-show-titre'><%= @annonces.name %></p></b>
              <p class='aa-show-price'><%= @annonces.prix %>€</p>
              <!-- <p class=''>< @annonces.created_at.to_date ></p> -->
            </div>
            <div class="aa-show-thumbnail-container">
            <%= cl_image_tag @annonces.photo_deux, class: 'aa-show-thumbnail' , id: "previewPhotoDeux", onclick: "document.getElementById('bigPhoto').src = this.src" %>
            <%= cl_image_tag @annonces.photo_un, class: 'aa-show-thumbnail' , id: "previewPhotoUn", onclick: "document.getElementById('bigPhoto').src = this.src" %>
            <%= cl_image_tag @annonces.photo, class: 'aa-show-thumbnail' , id: "previewPhoto", onclick: "document.getElementById('bigPhoto').src = this.src" %>
            </div>
          </div>
        </div>
      </div>

      <div class="aa-show-detailannonce-criteres aa-show-minheight aa-show-marginbottom">
        <b><p>Criteres</p></b>
        <p>Dimensions (h x l x p): <%= @annonces.hauteur %> X <%= @annonces.largeur %> X <%= @annonces.profondeur %></p>
        <p>Format: <%= @annonces.format %></p>
        <p>disposition: <%= @annonces.disposition %></p>
        <p>oeuvre limite:<%= @annonces.oeuvre_limite %></p>
        <p>oeuvre illimite:<%= @annonces.oeuvre_illimite ? "OUI" : "NON" %></p>
        <p>certificat d'authenticite:<%= @annonces.certificat_authenticite ? "OUI" : "NON" %></p>
        <p>facture d'achat:<%= @annonces.facture_achat ? "OUI" : "NON" %></p>
        <p>encadrement:<%= @annonces.encadrement ? "OUI" : "NON" %></p>
        <p>etat neuf:<%= @annonces.etat_neuf ? "OUI" : "NON" %></p>

        <b><p>Tags</p></b>
        <% unless CategorieAnnonce.all.where(annonce_id: @annonces.id).nil? %>
          <% CategorieAnnonce.all.where(annonce_id: @annonces.id).each do |cat| %>
          <p><%= Categorie.find(cat.categorie_id).name %></p>
          <% end %>
        <% end %>
        <b><p>Courants</p></b>
        <% unless CourantAnnonce.all.where(annonce_id: @annonces.id).nil? %>
          <% CourantAnnonce.all.where(annonce_id: @annonces.id).each do |cour| %>
          <p><%= Courant.find(cour.courant_id).name %></p>
          <% end %>
        <% end %>
        <b><p>Couleurs</p></b>
        <% unless CouleurAnnonce.all.where(annonce_id: @annonces.id).nil? %>
          <% CouleurAnnonce.all.where(annonce_id: @annonces.id).each do |coul| %>
          <p><%= Couleur.find(coul.couleur_id).couleur_dominante %></p>
          <% end %>
        <% end %>
      </div>
      <div class="aa-show-detailannonce-description aa-show-border aa-show-minheight aa-show-marginbottom">
      <div class='aa-show-description'><b><p>Description</p></b><p><%= @annonces.description %></p></div>
      </div>
    </div>
    <div class="aa-show-detailuser">
      <div class="aa-show-detailuser-contact aa-show-minheight">
        <p>

          <% if @annonces.user.afficher_identite %>
            <p><%= "#{@annonces.user.surname} #{@annonces.user.lastname}" %></p>
          <% end %>
          <% if @annonces.user.afficher_tel %>
            <p><%= "#{@annonces.user.tel}" %></p>
          <% end %>
          <% if @annonces.user.afficher_email %>
            <%= link_to "#{@annonces.user.email}", "/users/#{@annonces.user.id}" %>
          <% else %>
            <%= link_to "Profil Auteur", "/users/#{@annonces.user.id}" %>
          <% end %>
          <p>Partager cette Annonce</p>
           <%= social_share_button_tag("Cette annonce est super venez la decouvrir sur http:\/\/artaetasv1.herokuapp.com\/annonces\/#{@annonces.id}", :image => "#{@annonces.photo.url}", :'data-twitter-hashtags' => "art,artaetas", :'via' => "artaetas", :'data-type' => 'photo', :url => "#{@annonces.photo.url}", desc: "Venez Vite!", :'data-quote' => "Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs", :'data-summary' => "Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs") %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
