<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ARTAETAS</title>
    <meta property="og:url"           content="http://artaetasv0.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Artaetas" />
    <meta property="og:description"   content="Plateforme d'echange d'oeuvre d'arts" />
    <!-- <meta property="og:image"         content="https://t3.ftcdn.net/jpg/00/77/89/16/500_F_77891611_GSgvg2GbIrryOpAFQCroGVuNnYl0t580.jpg" /> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
<!--     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="https://assets.pinterest.com/js/pinit.js"></script>
    <script async src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0" charset="utf-8"></script> -->

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.23.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.23.0/slimselect.min.css" rel="stylesheet"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" rel="stylesheet"></link>
    
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'autre' %>
  </body>
</html>
